%tr.sub-row-table{:class => "analog_item_#{after}"}
 %td.icons{:class => "border-l"}
  .icon
   %a.pp{:href => "#"}
 %td.text-left{:class => "name"}
  %a{:href => "#"}= analog_line["item_name"]
 %td.text-left{:class => "producer"}= analog_line["item_brend"]
 %td.text-left= analog_line["package_name"]
 %td= analog_line["rohs"]
 %td.input-in-cart
  %div
   %a.speed-cart-button{:href=>"#"}
    %span
     %span &nbsp;
   %input{:type=>"text", :class=>"validate[custom[onlyNumber],max[10000]]"}
   %a.count{:href=>"#"}
 %td.double-first-cell= analog_line["min_qty"]
 %td.double-last-cell= analog_line["max_qty"]
 %td &nbsp;
 -# %td= analog_line["prognosis_id"]
 %td= analog_line["location_id"]
 %td= analog_line["price1"]
 %td.green= analog_line["count2"]
 %td= analog_line["price2"]
 %td.green= analog_line["count3"]
 %td= analog_line["price3"]
 %td.green= analog_line["count4"]
 %td= analog_line["price4"]
 %td.grey= analog_line["qty_in_pack"]
 %td.font-small
  %span.color-red= analog_line["vend_proposal_date"]
 -# %td
 -# %td= analog_line["segment_rus"]
 -# %td.border-r{:class=>"full-price"}
  %a{:href => "#"}! $<small>$</small>
