- line_code = analog_line.base_signature
- offer_code = analog_line.signature
- offer_amount = analog_line.amount.to_i > 0 ? analog_line.amount : ''
%tr.sub-row-table{:class => "analog_item_#{after}"}
 %input.analog-code{:type => "hidden", :value => analog_line.code, :name => "analog[#{offer_code}][code]", :id => "code_#{offer_code}"}
 %input.analog-cart{:type => "hidden", :value => analog_line.cart_id, :name => "analog[#{offer_code}][cart]"}

 %td.icons{:class => "border-l"}
  .icon
   %span.bold{:title => analog_line.analog_description }= analog_line.analog_type
   -# %a.pp{:href => "#"}
 %td.text-left{:class => "name"}
  %a{:href => "#"}= analog_line.name
 %td.text-left{:class => "producer"}= analog_line.brend
 %td.text-left= analog_line.body_name
 %td= analog_line.rohs
 %td.input-in-cart
  %div
   %a.speed-cart-button{:href=>"#"}
    %span
     %span &nbsp;
   %input{:type=>"text", :class=>["validate[custom[onlyNumber],max[10000]]", analog_line.min_qty > 1 ? "with-critical" : nil], :name => "analog[#{offer_code}][amount]", :value => offer_amount}
   %a.count{:href=>"#"}
 %td.text-right.double-first-cell= analog_line.min_qty > 1 ? analog_line.min_qty : ''
 %td.text-right= analog_line.max_qty
 %td.double-last-cell &nbsp;
 -# %td= analog_line["prognosis_id"]
 %td= analog_line.location_id
 %td.text-right= @usd_decor.decore(analog_line.prices[0])
 %td.text-right.green= analog_line.counts[1]
 %td.text-right= @usd_decor.decore(analog_line.prices[1])
 %td.text-right.green= analog_line.counts[2]
 %td.text-right= @usd_decor.decore(analog_line.prices[2])
 %td.text-right.green= analog_line.counts[3]
 %td.text-right= @usd_decor.decore(analog_line.prices[3])
 -# %td.text-right.grey= analog_line.qty_in_pack
 -# %td.font-small
  %span.color-red= analog_line.vend_proposal_date
 -# %td
 -# %td= analog_line["segment_rus"]
 -# %td.border-r{:class=>"full-price"}
  %a{:href => "#"}! $<small>$</small>
