- offer_code = dms_line.signature
- offer_amount = dms_line.amount.to_i > 0 ? dms_line.amount : ''
%tr.sub-row-table{:class => "dms_item_#{after}"}
 %input.dms-code{:type => "hidden", :value => dms_line.code, :name => "dms[#{offer_code}][code]", :id => "code_#{offer_code}"}
 %input.dms-cart{:type => "hidden", :value => dms_line.cart_id, :name => "dms[#{offer_code}][cart]"}

 %td.icons{:class => "border-l"}

 %td.text-left{:class => "font-small", :colspan => 2}
  %a{:href => "#"}= t(:need_all_prices_for_offer) if false && dms_line.need_more
 %td= dms_line.rohs
 %td= #dms_line.location_id
 %td.input-in-cart
  %div
   %a.speed-cart-button{:href=>"#"}
    %span
     %span &nbsp;
   %input{:type=>"text", :class=>"validate[custom[onlyNumber],max[10000]]", :name => "dms[#{offer_code}][amount]", :value => offer_amount}
   %a.count{:href=>"#"}
 %td.double-first-cell= dms_line.min_qty
 - p "---dmscnt", dms_line.code, dms_line.counts
 %td.double-cell= dms_line.counts.max || 0
 -# %td.double-cell= dms_line.vend_qty
 %td.double-last-cell= dms_line.qty_multiples
 %td= dms_line.prognoz
 %td
  %span{:class => ["price", "real", @use_alt_price ? "hidden" : "active"]}
   = @usd_decor.decore(dms_line.prices[0])
  %span{:class => ["price", "alt", @use_alt_price ? "active" : "hidden"]}
   = @rub_decor.decore(dms_line.alt_prices[0])

 %td.green= dms_line.counts[1]
 -# %td= items_line.prices[1]
 %td
  %span{:class => ["price", "real", @use_alt_price ? "hidden" : "active"]}
   = @usd_decor.decore(dms_line.prices[1])
  %span{:class => ["price", "alt", @use_alt_price ? "active" : "hidden"]}
   = @rub_decor.decore(dms_line.alt_prices[1])
 %td.green= dms_line.counts[2]
 -# %td= items_line.prices[2]
 %td
  %span{:class => ["price", "real", @use_alt_price ? "hidden" : "active"]}
   = @usd_decor.decore(dms_line.prices[2])
  %span{:class => ["price", "alt", @use_alt_price ? "active" : "hidden"]}
   = @rub_decor.decore(dms_line.alt_prices[2])
 %td.green= dms_line.counts[3]
 -# %td= items_line.prices[3]
 %td
  %span{:class => ["price", "real", @use_alt_price ? "hidden" : "active"]}
   = @usd_decor.decore(dms_line.prices[3])
  %span{:class => ["price", "alt", @use_alt_price ? "active" : "hidden"]}
   = @rub_decor.decore(dms_line.alt_prices[3])

 -# %td.border-r

