#header1
.header-panel
 .back-hp1
  .back-hp2
   .back-hp3
    .logo-name
     %img{:src=>image_path("header_name.gif"), :alt=>"Партнерская бизнес-система"}
    .logo-company
     %img{:src=>image_path("header_logo.gif"), :alt=>"Компэл"}
    .info-block
     .informer
      .today= t :informer_today
      .date= l Date.today, :format => :inform
      .rate

     .line
     - if logged_in?
      .user-block
       - if current_user.current_account
        %span.name= [current_user.current_account.try(:contact_first_name), current_user.current_account.try(:contact_middle_name),current_user.current_account.try(:contact_last_name)].compact.join(' ')
        .comp= current_user.current_account.try(:business)
       - else
        %span= t :select_account
       = form_for :current_account, :url => current_account_users_path, :html => {:method => :get} do |form|
        .select
         .sub
          = link_to "-----", "#", :name => "0" unless current_user.current_account
          - @accounts.each do |a|
           = link_to a.human_readable, "#", :name => a.id, :class => "showed"
         = form.hidden_field :account, :value => current_user.try(:current_account).try(:id) || 0
       .account_selector
       = link_to t(:logout), sessions_path, :method => :delete, :class => "quite"

      .clear
.button-slide-panel
 %a.button-slide{:href=>"#", :class => "up"}


= render :partial => "main/main_menu"
.tabs-block
 %a.tab{:href=>"#", :class=>"tab-search", :style=>"display:none"} Поиск
 %a.tab{:href=>"#", :class=>"tab-feedback"}= t :feedback
.clear
= render :partial => "main/feedback"
= render :partial => "main/search_block"
.clear
#flash_place
 - flash.each do |key, value|
  .flash{ :class => key}= value
.clear
.scroll-content-block
 .scroll-show
  .line
   .button
    %a{:href=>"#"}
     %span &nbsp;
  .shadow

-# .global-error{:style=>"display:none"}

