#header1
 - flash.each do |key, value|
  .flash{ :class => key}= value

#header-height{:style=>"display:none;"}

#header.header-static
 .header-hid
  .header-wrap
   .header-panel
    .back-hp1
     .back-hp2
      .back-hp3
       .logo-name
        %img{:src=>"/images/header_name.gif", :alt=>"Партнерская бизнес-система"}
       .logo-company
        %img{:src=>"/images/header_logo.gif", :alt=>"Компэл"}
       .info-block
        .informer
         .today= t :informer_today
         .date= l Date.today, :format => :short
         .rate

        .line
        - if logged_in?
         .user-block
          %span.name= [current_user.current_account.try(:contact_first_name), current_user.current_account.try(:contact_middle_name),current_user.current_account.try(:contact_last_name)].compact.join(' ')
          .comp= current_user.current_account.try(:business)
          .account_selector
           - form_for :current_account, :url => current_account_users_path, :html => {:method => :get} do |form|
            = form.label :account
            = form.select :account, options_from_collection_for_select(current_user.accounts.where(:blocked => false), :id, :contact_first_name, current_user.current_account.try(:id)), :include_blank => t(:select_account)
            = form.submit :select
          -#%a{:href=>user_path(current_user)} Настройки
          = link_to t(:logout), sessions_path, :method => :delete, :class => "quite"
          -#%a.quite{:href=>sessions_path, :method => :delete} Выход из системы

         .clear
   .button-slide-panel
    %a.button-slide{:href=>"#", :class => "up"}


   .main-menu
    -#TODO: поправить меню, актуализировать
    .corner-l
    .corner-r
    .button{:class => "active"}
     .button-shadow
      %i.b1
      %i.b2
      %i.b3
       %i
      %a.link{:href=>root_path} Главная
    -# .button
     .button-shadow
      %i.b1
      %i.b2
      %i.b3
       %i
      %a.link{:href=>"#"} Бизнес
     .submenu-shadow
      %i.b1
      %i.b2
      %i.b3
      %i.b4
       %i
      %i.b5
       %i
      %i.b6
      %i.b7
      %i.b8
      %ul.submenu
       %li
        %a{:href=>"#"}
         %span Запросы
       %li
        %a.order{:href=>"orders.html"}
         %span Заказы
       %li
        %a{:href=>"#"}
         %span Грузы
       %li
        %a{:href=>"#"}
         %span Исходящие грузы
        %ul
         %li
          %a{:href=>"#"}
           %span Строки заказа
         %li
          %a{:href=>"#"}
           %span Контроль продолжительности резервирования
         %li
          %a{:href=>"#"}
           %span Открытые строки заказов
         %li
          %a{:href=>"#"}
           %span Строки заказа клиента
       %li.active
        %a{:href=>"#"}
         %span Накладные
    -# .button
     .button-shadow
      %i.b1
      %i.b2
      %i.b3
       %i
      %a.link{:href=>"#"} Аналитика
    -# .button
     .button-shadow
      %i.b1
      %i.b2
      %i.b3
       %i
      %a.link{:href=>"#"}
       Сообщения &nbsp; 
       %span.counter
        %i.c1
        %i.c2
        327
   .tabs-block
    %a.tab{:href=>"#", :class=>"tab-search", :style=>"display:none"} Поиск
.search-block
 .back-x
  .back-l
   .back-r
    %a.close-link{:href=>"#"}
     %span свернуть
    .search-tabs
     -# %a{:href=>"#"}
      %span
       %span Список
     %a.active{:href=>"#"}
      %span
       %span Поиск по наименованию
     -# %a{:href=>"#"}
      %span
       %span Артикул ДМС (Farnel, Newark)
     -# %a{:href=>"#"}
      %span
       %span По параметрам
     %a.more{:href=>"#"} Еще
    -# .search-tab-block{:style=>"display:none;"}
     %form{:action=>" "}
      .field
       %textarea.list-area{:cols=>"1", :rows=>"1"}
        TDA2003;OR;300
        OPA129U;TI;1
        IRFP044;;3
        215035;50
        189566;50
        OPA129U;TI;1
        IRFP044;;3
        215035;50
        189566;50
      .button
       %a.button-style{:href=>"#"}
        %i.t &nbsp;
        %i.b &nbsp;
        %i.tl &nbsp;
        %i.tr &nbsp;
        %span Найти!
        %i.bl &nbsp;
        %i.br &nbsp;
      .clear
    .search-tab-block
     -# %form{:action=>" "}
     = form_for :search, :url => search_path do |f|
      .field
       -# = f.label :query_string
       = f.text_field :query_string
       -# = f.submit :find
      -# %input{:type=>"text", :value=>"TDA2003;OR;300"}
      .button
       %a.button-style{:href=>"#"}
        %i.t &nbsp;
        %i.b &nbsp;
        %i.tl &nbsp;
        %i.tr &nbsp;
        %span Найти!
        %i.bl &nbsp;
        %i.br &nbsp;
     -# .clear
    -# .search-tab-block{:style=>"display:none;"}
     %form{:action=>" "}
      .field
       %input{:type=>"text", :value=>"TDA2003;OR;400"}
      .button
       %a.button-style{:href=>"#"}
        %i.t &nbsp;
        %i.b &nbsp;
        %i.tl &nbsp;
        %i.tr &nbsp;
        %span Найти!
        %i.bl &nbsp;
        %i.br &nbsp;
      .clear
    -# .search-tab-block{:style=>"display:none;"}
     %form{:action=>" "}
      .field
       .input{:type=>"text", :value=>"TDA2003;OR;500"}
      .button
       %a.button-style{:href=>"#"}
        %i.t &nbsp;
        %i.b &nbsp;
        %i.tl &nbsp;
        %i.tr &nbsp;
        %span Найти!
        %i.bl &nbsp;
        %i.br &nbsp;
      .clear

.clear
