#header1
.header-panel
 .back-hp1
  .back-hp2
   .back-hp3
    .logo-name
     %img{:src=>image_path("header_name.gif"), :alt=>"Партнерская бизнес-система"}
    .logo-company
     %img{:src=>image_path("header_logo.gif"), :alt=>"Компэл"}
    .info-block
     .informer
      .today= t :informer_today
      .date= l Date.today, :format => :inform
      .rate

     .line
     - if logged_in?
      .user-block
       .padded
        - if current_user.current_account
         %span.name{:title => current_user.username}= [current_user.current_account.contact_first_name, current_user.current_account.contact_middle_name, current_user.current_account.contact_last_name].compact.join(' ')
         -# .comp= current_user.current_account.try(:business)
        - else
         %span= t :select_account
       .clear

       .padded
        = form_for :current_account, :url => current_account_users_path, :html => {:method => :get} do |form|
         = render :partial => "shared/select_list", :locals => {:list_items => @accounts.map{|a| [a.id, a.human_readable] }, :name => "current_account[account]", :opts => {:selected => (current_user.try(:current_account).try(:id).to_s || ''), :with_blank => true, :blank_name => "0", :zindex => 5, :need_field => true}}
         -# .select{:style => "margin-left: 20px;"}
          .sub
           = link_to "-----", "#", :name => "0" unless current_user.current_account
           - @accounts.each do |a|
            = link_to a.human_readable, "#", :name => a.id, :class => "showed"
          = form.hidden_field :account, :value => current_user.try(:current_account).try(:id) || 0
       .clear
       .padded
        .account_selector
        = form_for :logout, :url => sessions_path, :html => {:method => :delete} do |f| #, :class => "quite"
         = render :partial => "shared/submit_button", :locals => {:title => t(:logout), :opts => {:style => "margin-left:60px; margin-top:5px;"}}
       .clear
      .clear
.button-slide-panel
 %a.button-slide{:href=>"#", :class => "up"}


= render :partial => "main/main_menu"
.tabs-block
 %a.tab{:href=>"#", :class=>"tab-search", :style=>"display:none"} Поиск
 %a.tab{:href=>"#", :class=>"tab-feedback"}= t :feedback
.clear
= render :partial => "main/feedback"
= render :partial => "main/search_block"
.clear
#flash_place
 - flash.each do |key, value|
  .flash{ :class => key}= value
.clear
.scroll-content-block
 .scroll-show
  .line
   .button
    %a{:href=>"#"}
     %span &nbsp;
  .shadow

-# .global-error{:style=>"display:none"}

