#header1
.header-panel
 .back-hp1
  .back-hp2
   .back-hp3
    .logo-name
     %img{:src=>image_path("header_name.gif"), :alt=>"Партнерская бизнес-система"}
    .logo-company
     %img{:src=>image_path("header_logo.gif"), :alt=>"Компэл"}
    .info-block
     .informer
      .today= t :informer_today
      .date= l Date.today, :format => :inform
      .rate

     .line
     - if logged_in?
      .user-block
       - if current_user.current_account
        %span.name= [current_user.current_account.try(:contact_first_name), current_user.current_account.try(:contact_middle_name),current_user.current_account.try(:contact_last_name)].compact.join(' ')
        .comp= current_user.current_account.try(:business)
       - else
        %span= t :select_account
       = form_for :current_account, :url => current_account_users_path, :html => {:method => :get} do |form|
        .select
         .sub
          = link_to "-----", "#", :name => "0" unless current_user.current_account
          - @accounts.each do |a|
           = link_to a.cust_account, "#", :name => a.id, :class => "showed"
         = form.hidden_field :account, :value => current_user.try(:current_account).try(:id) || 0
       .account_selector
       = link_to t(:logout), sessions_path, :method => :delete, :class => "quite"

      .clear
.button-slide-panel
 %a.button-slide{:href=>"#", :class => "up"}


.main-menu
 -#TODO: поправить меню, актуализировать
 .corner-l
 .corner-r
 .button{:class => [current_page?(:controller => "main") || current_page?(root_path) ? "active" : nil]}
  .button-shadow
   %i.b1
   %i.b2
   %i.b3
    %i
   %a.link{:href=>root_path} Главная
 .button{:class => [current_page?(:controller => "orders") ? "active" : nil]}
  .button-shadow
   %i.b1
   %i.b2
   %i.b3
    %i
   %a.link{:href=>"#"} Заказы
  .submenu-shadow
   %i.b1
   %i.b2
   %i.b3
   %i.b4
    %i
   %i.b5
    %i
   %i.b6
   %i.b7
   %i.b8
   %ul.submenu
    %li
     %a{:class => [current_page?(orders_path) ? "active" : nil], :href=>orders_path}
      %span Список заказов
    %li
     %a.order{:class => [current_page?(lines_orders_path) ? "active" : nil], :href=>lines_orders_path()}
      %span Открытые строки
 .button{:class => [current_page?(:controller => "quotations") ? "active" : nil]}
  .button-shadow
   %i.b1
   %i.b2
   %i.b3
    %i
   %a.link{:href=>"#"} Запросы
  .submenu-shadow
   %i.b1
   %i.b2
   %i.b3
   %i.b4
    %i
   %i.b5
    %i
   %i.b6
   %i.b7
   %i.b8
   %ul.submenu
    %li
     %a{:class => [current_page?(quotations_path) ? "active" : nil], :href=>quotations_path}
      %span Список запросов
    %li
     %a.order{:class => [current_page?(lines_quotations_path) ? "active" : nil], :href=>lines_quotations_path()}
      %span Открытые строки
    -# %li
     %a{:href=>"#"}
      %span Грузы
    -# %li
     %a{:href=>"#"}
      %span Исходящие грузы
     %ul
      %li
       %a{:href=>"#"}
        %span Строки заказа
      %li
       %a{:href=>"#"}
        %span Контроль продолжительности резервирования
      %li
       %a{:href=>"#"}
        %span Открытые строки заказов
      %li
       %a{:href=>"#"}
        %span Строки заказа клиента
    -# %li.active
     %a{:href=>"#"}
      %span Накладные
 -# .button
  .button-shadow
   %i.b1
   %i.b2
   %i.b3
    %i
   %a.link{:href=>"#"} Аналитика
 -# .button
  .button-shadow
   %i.b1
   %i.b2
   %i.b3
    %i
   %a.link{:href=>"#"}
    Сообщения &nbsp; 
    %span.counter
     %i.c1
     %i.c2
     327
.tabs-block
 %a.tab{:href=>"#", :class=>"tab-search", :style=>"display:none"} Поиск
.clear
- flash.each do |key, value|
 .flash{ :class => key}= value
.search-block
 .back-x
  .back-l
   .back-r
    %a.close-link{:href=>"#"}
     %span свернуть
    .search-tabs
     -# %a{:href=>"#"}
      %span
       %span Список
     %a.active{:href=>"#"}
      %span
       %span Поиск по наименованию
     -# %a{:href=>"#"}
      %span
       %span Артикул ДМС (Farnel, Newark)
     -# %a{:href=>"#"}
      %span
       %span По параметрам
     %a.more{:href=>"#"} Еще
    -# .search-tab-block{:style=>"display:none;"}
     %form{:action=>" "}
      .field
       %textarea.list-area{:cols=>"1", :rows=>"1"}
        TDA2003;OR;300
        OPA129U;TI;1
        IRFP044;;3
        215035;50
        189566;50
        OPA129U;TI;1
        IRFP044;;3
        215035;50
        189566;50
      .button
       %a.button-style{:href=>"#"}
        %i.t &nbsp;
        %i.b &nbsp;
        %i.tl &nbsp;
        %i.tr &nbsp;
        %span Найти!
        %i.bl &nbsp;
        %i.br &nbsp;
      .clear
    .search-tab-block
     -# %form{:action=>" "}
     = form_for :search, :url => search_path do |f|
      -# .fields
      %div
       .field
        -# = f.label :query_string
        = f.text_field :query_string
        -# = f.hidden_field :only_available
        -# = f.hidden_field :only_store
        -# = f.submit :find
       -# %input{:type=>"text", :value=>"TDA2003;OR;300"}
       - unless @only_store.nil?
        - unless to_bool(@only_store)
         %div.dms_loader{:style=>"float=right;"}
          %img{:src => image_path('ajax-loader.gif')}
       .button.commit
        %a.button-style{:href=>"#"}
         %i.t &nbsp;
         %i.b &nbsp;
         %i.tl &nbsp;
         %i.tr &nbsp;
         %span Найти!
         %i.bl &nbsp;
         %i.br &nbsp;
      .clear
      .fields
       Искать:
       = render :partial => "shared/check_button", :locals => {:name => "search[only_available]", :title => "Только в наличии", :opts => {:need_field => true, :use_system => true, :value => WebUtils::parse_bool(@search.only_available)}}
       -# %span.switch{:class=>"check"}
        %a{:href=>"#", :name => "search[only_available]"}
         %span Только в наличии
       = render :partial => "shared/check_button", :locals => {:name => "search[only_store]", :title => "Только склад", :opts => {:need_field => true, :use_system => true, :value => WebUtils::parse_bool(@search.only_store)}}
       -# %span.switch{:class=>"check"}
        %a{:href=>"#", :name => "search[only_store]"}
         %span Только склад
       %span.switch{:class=>"radio"}
        Цены:
        %a{:href=>"#", :class=>"active"}
         %span USD
        %a{:href=>"#"}
         %span RUB
       -# %span.switch{:class=>"check"}
        Показать:
        %a{:href=>"#", :class=>"active"}
         %span Только в наличии
       -# %span.switch{:class=>"radio"}
        Упорядочить по:
        %a{:href=>"#", :class=>"active"}
         %span Цене
        %a{:href=>"#"}
         %span Наличию
       -# %span.switch{:class=>"check none"}
        Показать:
        %a{:href=>"search_result_group.html"}
         %span Прогноз поставки

    -# .search-tab-block{:style=>"display:none;"}
     %form{:action=>" "}
      .field
       %input{:type=>"text", :value=>"TDA2003;OR;400"}
      .button
       %a.button-style{:href=>"#"}
        %i.t &nbsp;
        %i.b &nbsp;
        %i.tl &nbsp;
        %i.tr &nbsp;
        %span Найти!
        %i.bl &nbsp;
        %i.br &nbsp;
      .clear
    -# .search-tab-block{:style=>"display:none;"}
     %form{:action=>" "}
      .field
       .input{:type=>"text", :value=>"TDA2003;OR;500"}
      .button
       %a.button-style{:href=>"#"}
        %i.t &nbsp;
        %i.b &nbsp;
        %i.tl &nbsp;
        %i.tr &nbsp;
        %span Найти!
        %i.bl &nbsp;
        %i.br &nbsp;
      .clear

.clear
.scroll-content-block
 .scroll-show
  .line
   .button
    %a{:href=>"#"}
     %span &nbsp;
  .shadow

-# .global-error{:style=>"display:none"}

