%tr.sub-row-block{:class => "info_item_#{after}"}
 %th.icons{:class=>"border-l"}
  .icon
   %a.plus{:href=>"#", :class=>"hide"}
 %th.info{:colspan=>"22", :class=>"border-r"}
  %table
   %tr
    %td
     .item-f
      %a{:href=>"#"}Описание
     .item
      Регистрационная позиция:
      %span.color-black= info_block["regulations"]
     .item
      Снято с производства:
      %span.color-black= info_block["discontinued"]
     -# .item
      Сегмент:
      %span.color-black Ремонт
    %td
     .item
      Брутто-объём в кубических мм:
      %span.color-black= info_block["volume"]
     .item
      Упаковочное количество:
      %span.color-black= info_block["qty_in_pack"]
     .item
      Вес брутто, г:
      %span.color-black= info_block["weight"]
     .item
      Вид упаковки:
      %span.color-black= info_block["packing_type"]
    -# %td
     .item
      %a{:href=>"#"} Комплементарные товары
    -# %td
     %a{:href=>"#"}
      %img{:src=>"/images/temp/product1.gif", :alt=>""

