- prices = info_block.delete_field(:prices)
- dates = info_block.delete_field(:dates)
- p "---dlvp", dates
-# - keys = info_block.marshal_dump.inject({}){|r, (k, v)| (not (v.blank? || v.to_s == '0')) ? r.merge(k => v) : r }.keys
-# - cnt = (keys.size/2.0).ceil
-# %tr.sub-row-block{:class => "info_item_#{after}"}
 %th.icons{:class=>"border-l"}
  .icon
   %a.plus{:href=>"#", :class=>"hide"}
 %th.info{:colspan=>"17", :class=>"border-r"}
  - unless keys.empty?
   .item-f
    -# %a{:href=>"#"}Описание
    Описание
 -# - unless keys.empty?
%tr.info-data.sub-row-block{:class => "info_item_#{after}"}
 %td.border-l &nbsp;
 %td.border-r{:colspan=>"17", :valign => "top"}
  %table
   %tr
    %td{:style => "border-bottom: 0;"}
     %dl
      %dt Товарный класс:
      %dd= info_block.class_name
     %dl
      %dt Количество в упаковке:
      %dd #{info_block.qty_in_pack} штук
     - unless info_block.description.blank?
      %dl
       %dt Описание:
       %dd.italic= info_block.description
     %dl
      %dt Сегмент продукции:
      %dd= info_block.segment_rus
     %dl
      %dt Вид упаковки:
      %dd= info_block.packing_type
     %dl
      %dt Вес брутто:
      %dd #{info_block.weight} г.
     %dl
      %dt Объём, мм3:
      %dd
       #{info_block.volume} мм
       %sup 3
    %td{:style => "border-bottom: 0;"}
     - unless dates.empty?
      %table
       %tr
        %th{:colspan => 3}= t(:del_prognoz)
       - dates.each do |k, r|
        - unless r.empty?
         - r.each do |s|
          %tr
           %td{:style => "border-bottom: 0;"}= s.qty
           %td{:style => "border-bottom: 0;"}= s.date
           %td{:style => "border-bottom: 0;"}= k
    %td{:style => "border-bottom: 0;"}
     - unless prices.count2.to_i + prices.count3.to_i + prices.count4.to_i + prices.price1.to_f < 0.0001
      %table
       %tr
        %th{:colspan => 7}= t(:end_user_price)
       %tr
        %td{:style => "border-bottom: 0;"}= @usd_decor.decore(prices.price1)
        %td{:style => "border-bottom: 0;"}= prices.count2
        %td{:style => "border-bottom: 0;"}= @usd_decor.decore(prices.price2)
        %td{:style => "border-bottom: 0;"}= prices.count3
        %td{:style => "border-bottom: 0;"}= @usd_decor.decore(prices.price3)
        %td{:style => "border-bottom: 0;"}= prices.count4
        %td{:style => "border-bottom: 0;"}= @usd_decor.decore(prices.price4)
