- prices = info_block.delete("prices")
- dates = info_block.delete("dates")
- keys = info_block.inject({}){|r, (k, v)| (not (v.blank? || v.to_s == '0')) ? r.merge(k => v) : r }.keys
- cnt = (keys.size/2.0).ceil
%tr.sub-row-block{:class => "info_item_#{after}"}
 %th.icons{:class=>"border-l"}
  .icon
   %a.plus{:href=>"#", :class=>"hide"}
 %th.info{:colspan=>"17", :class=>"border-r"}
  - unless keys.empty?
   .item-f
    -# %a{:href=>"#"}Описание
    Описание
- unless keys.empty?
 %tr.sub-row-block{:class => "info_item_#{after}"}
  %td.border-l &nbsp;
  %td.border-r{:colspan=>"17", :valign => "top"}
   %table
    %tr
     %td{:style => "border-bottom: 0;"}
      %table
       - unless info_block["segment_rus"].blank?
        %tr.sub-row-block
         %td{:style => "border-bottom: 0;"}
          .item
           = t(:segment_produkcii)
           %span.color-black= info_block["segment_rus"]
       - if info_block["discontinued"]
        %tr.sub-row-block
         %td{:style => "border-bottom: 0;"}
          .item{:style => "font-weight:bold;"}
           = t(:position_discontinued)
       - unless info_block["description"].blank?
        %tr.sub-row-block
         %td{:style => "border-bottom: 0;"}
          .item{:style => "font-style:italic;"}
           = info_block["description"]
       - unless info_block["qty_in_pack"].blank?
        %tr.sub-row-block
         %td{:style => "border-bottom: 0;"}
          .item
           = t(:qty_in_pack)
           %span.color-black= info_block["qty_in_pack"]
     -# - keys.each_slice(cnt) do |blk|
      %td{:style => "border-bottom: 0;"}
       - blk.each do |key|
        .item
         = t(key.to_sym)
         %span.color-black= info_block[key]
     %td{:style => "border-bottom: 0;"}
      - unless prices.blank?
       %table
        %tr
         %th= t(:price1)
         %th= t(:count2)
         %th= t(:price2)
         %th= t(:count3)
         %th= t(:price3)
         %th= t(:count4)
         %th= t(:price4)
        %tr
         %td{:style => "border-bottom: 0;"}= @usd_decor.decore(prices["price1"])
         %td{:style => "border-bottom: 0;"}= prices["count2"]
         %td{:style => "border-bottom: 0;"}= @usd_decor.decore(prices["price2"])
         %td{:style => "border-bottom: 0;"}= prices["count3"]
         %td{:style => "border-bottom: 0;"}= @usd_decor.decore(prices["price3"])
         %td{:style => "border-bottom: 0;"}= prices["count4"]
         %td{:style => "border-bottom: 0;"}= @usd_decor.decore(prices["price4"])
     %td{:style => "border-bottom: 0;"}
      - unless dates.blank?
       %table
        %tr
         %th К
         %th Д
        
        - dates.each do |r|
         %tr
          %td{:style => "border-bottom: 0;"}= r.values.first[:qty]
          %td{:style => "border-bottom: 0;"}= r.values.first[:date]
