- prices = info_block.delete("prices")
- dates = info_block.delete("dates")
- keys = info_block.inject({}){|r, (k, v)| (not (v.blank? || v.to_s == '0')) ? r.merge(k => v) : r }.keys
- cnt = (keys.size/2.0).ceil
%tr.sub-row-block{:class => "info_item_#{after}"}
 %th.icons{:class=>"border-l"}
  .icon
   %a.plus{:href=>"#", :class=>"hide"}
 %th.info{:colspan=>"17", :class=>"border-r"}
  - unless keys.empty?
   .item-f
    -# %a{:href=>"#"}Описание
    Описание
- unless keys.empty?
 %tr.sub-row-block{:class => "info_item_#{after}"}
  %td.border-l &nbsp;
  %td.border-r{:colspan=>"17", :valign => "top"}
   %table
    %tr
     - keys.each_slice(cnt) do |blk|
      %td{:style => "border-bottom: 0;"}
       - blk.each do |key|
        .item
         = t(key.to_sym)
         %span.color-black= info_block[key]
     %td{:style => "border-bottom: 0;"}
      - unless prices.blank?
       %table
        %tr
         %th K
         %th Ц
        - 4.times do |idx|
         -if prices.has_key?("price#{idx + 1}")
          %tr
           %td{:style => "border-bottom: 0;"}= prices["count#{idx + 1}"]
           %td{:style => "border-bottom: 0;"}= @usd_decor.decore(prices["price#{idx + 1}"])
     %td{:style => "border-bottom: 0;"}
      - Rails.logger.info "---dates"
      - Rails.logger.info dates.inspect
      - unless dates.blank?
       %table
        %tr
         %th К
         %th Д
        
        - dates.each do |r|
         %tr
          %td{:style => "border-bottom: 0;"}= r.values.first[:qty]
          %td{:style => "border-bottom: 0;"}= r.values.first[:date]
