%tr.sub-row-block{:class => "info_item_#{after}"}
 %th.icons{:class=>"border-l"}
  .icon
   %a.plus{:href=>"#", :class=>"hide"}
 %th.info{:colspan=>"17", :class=>"border-r"}
  %table
   %tr
    %td
     .item-f
      -# %a{:href=>"#"}Описание
      Описание
     - unless info_block["regulations"].blank? || info_block["regulations"].to_s == '0'
      .item
       Регистрационная позиция:
       %span.color-black= info_block["regulations"]
     - unless info_block["discontinued"].blank? || info_block["discontinued"].to_s == '0'
      .item
       Снято с производства:
       %span.color-black= info_block["discontinued"]
     - unless info_block["retail"].blank? || info_block["retail"].to_s == '0'
      .item
       Цена конечного потребителя:
       %span.color-black= info_block["retail"]
     -# .item
      Сегмент:
      %span.color-black Ремонт
    %td
     - unless info_block["volume"].blank? || info_block["volume"].to_s == '0'
      .item
       Брутто-объём в кубических мм:
       %span.color-black= info_block["volume"]
     - unless info_block["qty_in_pack"].blank? || info_block["qty_in_pack"].to_s == '0'
      .item
       Упаковочное количество:
       %span.color-black= info_block["qty_in_pack"]
     - unless info_block["weight"].blank? || info_block["weight"].to_s == '0'
      .item
       Вес брутто, г:
       %span.color-black= info_block["weight"]
     - unless info_block["packing_type"].blank? || info_block["packing_type"].to_s == '0'
      .item
       Вид упаковки:
       %span.color-black= info_block["packing_type"]
    -# %td
     .item
      %a{:href=>"#"} Комплементарные товары
    -# %td
     %a{:href=>"#"}
      %img{:src=>"/images/temp/product1.gif", :alt=>""

