- require "web_utils"
%tr{:class => WebUtils.escape_name("#{items_line["item_name"]}_#{items_line["item_brend"]}_#{items_line["rohs"]}", "item_")}
 %td.icons
  .icon
   = link_to "", main_dms_path(:code => items_line["item_id"], :after => WebUtils.escape_name("#{items_line["item_name"]}_#{items_line["item_brend"]}_#{items_line["rohs"]}")), :class => "dms js", :remote => true
   .slider &nbsp;
  .icon
   - if items_line["analog_exists"]
    = link_to "", main_analog_path(:code => items_line["item_id"], :after => WebUtils.escape_name("#{items_line["item_name"]}_#{items_line["item_brend"]}_#{items_line["rohs"]}")), :class => "replacement js active", :remote => true
   - else
    .replacement &nbsp;
   .slider &nbsp;

 %td.text-left= link_to items_line["item_name"], main_info_path(:code => items_line["item_id"], :after => WebUtils.escape_name("#{items_line["item_name"]}_#{items_line["item_brend"]}_#{items_line["rohs"]}")), :class => "dms js", :remote => true

 %td.text-left= items_line["item_brend"] #добавить бренднэйм
 %td= items_line["body_name"]
 %td= items_line["rohs"]
 %td.input-in-cart
  %div
   %a.speed-cart-button{:href=>"#"}
    %span
     %span &nbsp;
   %input{:type=>"text", :class=>"validate[custom[onlyNumber],max[10000]]"}
   -# %input{:type=>"text", :class=>"validate[custom[onlyNumber],max[#{items_line["max_qty"] || 0}]]"}
   %a.count{:href=>"#"}
 
 %td= items_line["min_qty"]
 %td= items_line["max_qty"]
 %td
  .icons 
   .icon
    - if WebUtils.parse_bool(items_line["forecast_available"])
     = link_to "", main_info_path(:code => items_line["item_id"], :after => WebUtils.escape_name("#{items_line["item_name"]}_#{items_line["item_brend"]}_#{items_line["rohs"]}")), :class => "info js delivery active", :remote => true
    - else
     .delivery &nbsp;
  = items_line["location_id"]
 -# %td= items_line["prognoz"]
 %td= items_line["price1"]
 %td.green= items_line["count2"]
 %td= items_line["price2"]
 %td.green= items_line["count3"]
 %td= items_line["price3"]
 %td.green= items_line["count4"]
 %td= items_line["price4"]
 %td.grey= items_line["qty_in_pack"]
 -# %td
 -# %td
 -# %td= items_line["segment_rus"]
 -# %td
  %a{:href => "#"}! $<small>$</small>
