- require "web_utils"
%tr{:id => WebUtils.escape_name("item_#{items_line["item_name"]}_#{items_line["item_brend"]}_#{items_line["rohs"]}_#{items_line["location_id"]}")}
 %td.icons
  .icon
   = link_to "", main_dms_path(:code => items_line["item_id"], :after => WebUtils.escape_name("item_#{items_line["item_name"]}_#{items_line["item_brend"]}_#{items_line["rohs"]}_#{items_line["location_id"]}")), :class => "dms js", :remote => true
  .icon
   = link_to "", main_analog_path(:code => items_line["item_id"], :after => WebUtils.escape_name("item_#{items_line["item_name"]}_#{items_line["item_brend"]}_#{items_line["rohs"]}_#{items_line["location_id"]}")), :class => "replacement js", :remote => true
   -# = link_to "", main_dms_path(:name => items_line["item_name"], :brend => items_line["item_brend"], :after => WebUtils.escape_name("item_#{items_line["item_name"]}_#{items_line["item_brend"]}_#{items_line["rohs"]}_#{items_line["location_id"]}")), :class => "dms js", :remote => true
  .slider &nbsp;

 %td.text-left= items_line["item_name"]
 %td.text-left= items_line["item_brend"]
 %td= items_line["body_name"]
 %td= items_line["rohs"]
 %td 
 %td= items_line["min_qty"]
 %td= items_line["max_qty"]
 %td= items_line["prognoz"]
 %td= items_line["price1"]
 %td.green= items_line["count2"]
 %td= items_line["price2"]
 %td.green= items_line["count3"]
 %td= items_line["price3"]
 %td.green= items_line["count4"]
 %td= items_line["price4"]
 %td= items_line["location_id"]
 %td.grey= items_line["qty_in_pack"]
 %td
 %td
 %td= items_line["segment_rus"]
