- require "web_utils"
- line_code = items_line.base_signature
- offer_code = items_line.signature
- offer_amount = items_line.amount.to_i > 0 ? items_line.amount : ''
%tr{:class => "item_#{line_code}"}
 %td.icons
  %input.item-code{:type => "hidden", :value => items_line.code, :name => "items[#{offer_code}][code]", :id => "code_#{line_code}"}
  %input.item-cart{:type => "hidden", :value => items_line.cart_id, :name => "items[#{offer_code}][cart]"}
  .icon
   -# = link_to "", main_dms_path(:code => items_line["item_id"], :after => line_code), :class => "dms js", :remote => true
   .dms-req &nbsp;
   .slider &nbsp;
  .icon
   - if items_line.analog_exists
    = link_to "", main_analog_path(:code => items_line.code, :after => line_code), :class => "replacement js active", :remote => true
   - else
    .replacement &nbsp;
   .slider &nbsp;

 %td.text-left= link_to items_line.name, main_info_path(:code => items_line.code, :after => line_code), :class => "dms js", :title => "Описание позиции", :remote => true

 %td.text-left
  - if items_line.brend_url.blank?
   - if items_line.brend_name.blank?
    #{items_line.brend}
   - else
    %abbr{:title => items_line.brend_name}= items_line.brend
  - else
   %a{:href => items_line.brend_url, :title => items_line.brend_name}= items_line.brend
 %td= items_line.body_name
 %td= items_line.rohs
 %td.input-in-cart
  %div
   %a.speed-cart-button{:href=>"#"}
    %span
     %span &nbsp;
   %input{:type=>"text", :class=>"validate[custom[onlyNumber],max[10000]]", :name => "items[#{offer_code}][amount]", :value => offer_amount}
   -# %input{:type=>"text", :class=>"validate[custom[onlyNumber],max[#{items_line["max_qty"] || 0}]]"}
   %a.count{:href=>"#"}
 
 %td.double-first-cell= items_line.min_qty
 %td= items_line.max_qty
 %td.double-last-cell &nbsp;
 %td.with-icons{:class => "text-left"}
  = items_line.location_id
  .icons 
   .icon
    - if items_line.forecast_available
     = link_to "", main_info_path(:code => items_line.code, :after => line_code), :class => "info js delivery active", :remote => true
    - else
     .delivery &nbsp;
 -# %td= items_line["prognoz"]
 %td= items_line.prices[0]
 %td.green= items_line.counts[1]
 %td= items_line.prices[1]
 %td.green= items_line.counts[2]
 %td= items_line.prices[2]
 %td.green= items_line.counts[3]
 %td= items_line.prices[3]
 %td.grey= items_line.qty_in_pack
 -# %td
 -# %td
 -# %td= items_line["segment_rus"]
 -# %td
  %a{:href => "#"}! $<small>$</small>
