.clear
.block-padded
= form_for :order, :url => orders_path, :remote => true, :html => {:class => "js"} do |f|
 = render :partial => "shared/button.html.haml", :locals => {:title => t(:cancel_order), :opts => {:id => :cancel_order}}
 .block-padded
  %h2 Параметры заказа
  - @stores.each do |store|
   %h3 К складу #{store}
   .padded
    = render :partial => "shared/select_list.html.haml", :locals => {:list_items => @avail_sales.select{|s| @sales_locs[s] == store }, :name => "use_sale[#{store}]", :title => t(:use_sale), :opts => {:use_system => true, :with_blank => true, :blank_name => t(:new_sale)} }
   .padded
    = render :partial => "shared/check_button.html.haml", :locals => {:name => "order_needed[#{store}]", :title => t(:order_needed), :opts => {:need_field => true, :use_system => true}}
   -# - if @carts.detect{|c| not c.is_a?(CartRequest) }
   .item.store
    .name
     примечание к заказу
    %div
     %textarea{:name => "order_comment[#{store}]", :class => [@carts.detect{|c| not c.is_a?(CartRequest) } ? nil : "disabled"]}
   
  -# - if @carts.detect{|c| c.pick or c.is_a?(CartWorld) }
  .item.pick
   = render :partial => "main/pick_options.html.haml"
  -# - if @carts.detect{|c| c.is_a?(CartRequest) }
  .item.request
   .name
    примечание к запросу
   %div
    %textarea{:name => "comment"}
  .padded
 .clear
 = render :partial => "shared/submit_button.html.haml", :locals => {:title => t(:make), :opts  => {:inner_style => "margin-right: 1em;"}}
