.clear
.block-padded
= form_for :order, :url => orders_path, :html => {:class => "json order"} do |f|
 = render :partial => "shared/button.html.haml", :locals => {:title => t(:cancel_order), :opts => {:id => :cancel_order}}
 .clear
 .padded
 .padded
  %h2 Параметры заказа
  - @stores.each do |store|
   .creatingBlock
    %h3 Заказ со склада #{store}
    .cbOrder
     = render :partial => "shared/select_list.html.haml", :locals => {:list_items => @avail_sales.select{|s| @sales_locs[s] == store }, :name => "use_sale[#{store}]", :title => t(:use_sale), :opts => {:use_system => true, :with_blank => true, :blank_name => t(:new_sale)} }
    .cbInvoice
     = render :partial => "shared/check_button.html.haml", :locals => {:name => "order_needed[#{store}]", :title => t(:order_needed), :opts => {:need_field => true, :use_system => true}}
    .cbComment
     .name
      примечание к заказу
     .cbTextarea
      %textarea{:name => "order_comment[#{store}]", :class => [@carts.select{|c| c.location_link == store }.detect{|c| not c.is_a?(CartRequest) } ? nil : "disabled"]}
   
    - if @carts.select{|c| c.location_link == store }.detect{|c| c.is_pick? }
     .cbPick
      = render :partial => "main/pick_options.html.haml", :locals => {:opts => {:loc => store}}
  - if @carts.detect{|c| c.is_a?(CartRequest) }
   .creatingBlock
    %h3 Запрос
    .cbComment
     .name Примечание к запросу
     .cbTextarea
      %textarea{:name=>"comment"}
 .clear
 = render :partial => "shared/button.html.haml", :locals => {:title => t(:make), :opts  => {:inner_style => "margin-right: 1em;", :id => "make_order"}}


