- form_for :order, :url => orders_path, :remote => true, :html => {:class => "js"} do |f|
 - unless @deliveries.empty?
  %select{:name => "delivery_type"}
   - @deliveries.each do |del|
    %option{:value=>del[0]}= del[1]
 %input.date-picker{:type => "text", :name => 'date_picker'}
 - unless @nreqs.empty?
  %h3 заказы
  %table
   %tr
    %th= t :type
    %th= t :name
    %th= t :brend
    %th= t :rohs
    %th= t :price
    %th= t :amount
    %th= t :location
    %th= t :prognosis
    %th= t :comment
    %th= t :user_price
    %th= t :actions
   - @nreqs.each do |item|
    %tr
     = f.fields_for :item, item do |ff|
      %td= item.type_name
      %td= item.product_name
      %td= item.product_brend
      %td= item.product_rohs
      %td= item.current_price
      %td= item.amount
      %td= item.location_link
      %td= item.prognosis
      %td= text_area_tag "ord[#{item.id}][comment]", item.comment
      %td= item.user_price
      %td= item.is_a?(CartRequest) ? t(:request) : (item.is_a?(CartWorld) ? t(:pick) : (item.pick? ? t(:pick) : (item.reserve? ? t(:reserve) : 'заказ')))
 - unless @reqs.empty?
  %h3 запросы
  %table
   %tr
    %th= t :type
    %th= t :name
    %th= t :brend
    %th= t :rohs
    %th= t :price
    %th= t :amount
    %th= t :location
    %th= t :prognosis
    %th= t :comment
    %th= t :user_price
    %th= t :actions

    %th запрос
    %th= t :comment
   - @reqs.each do |item|
    = f.fields_for :item do |ff|
     %tr
      %td= item.type_name
      %td= item.product_name
      %td= item.product_brend
      %td= item.product_rohs
      %td= item.current_price
      %td= item.amount
      %td= item.location_link
      %td= item.prognosis
      %td= text_area_tag "ord[#{item.id}][comment]", item.comment
      %td= item.user_price
      %td= item.is_a?(CartRequest) ? t(:request) : (item.is_a?(CartWorld) ? t(:pick) : (item.pick? ? t(:pick) : (item.reserve? ? t(:reserve) : 'заказ')))

 = f.submit t(:make)
:javascript
 $(".date-picker").datepicker({ dateFormat: 'yy-mm-dd' });

