- form_for :order, :url => orders_path, :remote => true do |f|
 - unless @deliveries.empty?
  %select{:name => "delivery_type"}
   - @deliveries.each do |del|
    %option{:value=>del[0]}= del[1]
 %input.date-picker{:type => "text", :name => 'date_picker'}
 - unless @nreqs.empty?
  %h3 нон
  %table
   %tr
    %th запрос
    %th= t :comment
    %th= t :action
   - @nreqs.each do |item|
    %tr
     = f.fields_for :item, item do |ff|
      %td= item.type_name
      %td= item.product_name
      %td= item.product_brend
      %td= item.product_rohs
      %td= item.current_price
      %td= item.amount
      %td= item.location_link
      %td= item.prognosis
      %td= ff.text_area :comment
 - unless @reqs.empty?
  %h3 запросы
  %table
   %tr
    %th запрос
    %th= t :comment
   - @reqs.each do |item|
    = f.fields_for :item do |ff|
     %tr
      %td= item.type_name
      %td= item.product_name
      %td= item.product_brend
      %td= item.product_rohs
      %td= item.current_price
      %td= item.amount
      %td= item.location_link
      %td= item.prognosis
      %td= ff.text_area :comment

 = f.submit t(:make)
:javascript
 $(".date-picker").datepicker({ dateFormat: 'yy-mm-dd' });

