- # if WebUtils.parse_bool(@search.only_available)
.search-block{:style => "#{WebUtils.parse_bool(@search.show_box) ? "" : "display:none;"}"}
 .back-x
  .back-l
   .back-r
    %a.close-link{:href=>"#"}
     %span свернуть
    .search-tabs
     -# %a{:href=>"#"}
      %span
       %span Список
     %a{:href=>"#", :class => [@search.external_code.blank? ? "active" : nil]}
      %span
       %span Поиск по наименованию
     %a{:href=>"#", :class => [@search.external_code.blank? ? nil : "active"]}
      %span
       %span Поиск по артикулу
     %a{:href=>"#"}
      %span
       %span Загрузка списком
     - if User.current.current_account.business == 'КОМПЭЛ'
      %a.bold{:href=>"http://www.compel.ru/catalog/?utm_source=urm2&utm_medium=link&utm_term=null&utm_content=null&utm_campaign=urm-catalog", :target => "_blank"} Параметрический поиск
    -# .search-tab-block{:style=>"display:none;"}
     %form{:action=>" "}
      .field
       %textarea.list-area{:cols=>"1", :rows=>"1"}
        TDA2003;OR;300
        OPA129U;TI;1
        IRFP044;;3
        215035;50
        189566;50
        OPA129U;TI;1
        IRFP044;;3
        215035;50
        189566;50
      .button
       %a.button-style{:href=>"#"}
        %i.t &nbsp;
        %i.b &nbsp;
        %i.tl &nbsp;
        %i.tr &nbsp;
        %span Найти!
        %i.bl &nbsp;
        %i.br &nbsp;
      .clear
    .search-tab-block{:style => @search.external_code.blank? ? "" : "display:none;"}
     = form_for :search, :url => search_path do |f|
      %div
       .field
        = f.text_field :query_string
        #auto_complete_menu
         .place
       - unless @only_store.nil?
        - unless to_bool(@only_store)
         %div.dms_loader{:style=>"float=right;"}
          %img{:src => image_path('ajax-loader.gif')}
       = render :partial => "shared/submit_button", :locals => {:title => t(:find)}
      .clear
      .fields
       Искать:
       = render :partial => "shared/check_button", :locals => {:name => "search[only_available]", :title => "Только в наличии", :opts => {:need_field => true, :use_system => true, :value => WebUtils.parse_bool(@search.only_available)}}
       = render :partial => "shared/check_button", :locals => {:name => "search[only_store]", :title => "Только склад", :opts => {:need_field => true, :use_system => true, :value => WebUtils.parse_bool(@search.only_store)}}
       - if defined?(@use_alt_price)
        %span.switch{:class=>"radio"}
         Цены:
         %a{:href=>"#", :class=>[@use_alt_price ? nil : "active", "usd"]}
          %span USD
         %a{:href=>"#", :class => [@use_alt_price ? "active" : nil, "rub"]}
          %span RUB
       -# %span.switch{:class=>"radio"}
        Упорядочить по:
        %a{:href=>"#", :class=>"active"}
         %span Цене
        %a{:href=>"#"}
         %span Наличию
       -# %span.switch{:class=>"check none"}
        Показать:
        %a{:href=>"search_result_group.html"}
         %span Прогноз поставки

    -# .search-tab-block{:style => "display: none;"}
     = form_for :request, :url => manager_request_path do |f|
      .fields.splitted
       .field.request.long
        = f.label :request_string, t(:request_string)
        = f.text_field :request_string
      .clear
      .fields.splitted
       .field.request.tiny
        = f.label :requested_count, t(:requested_count)
        = f.text_field :requested_count
      .clear
      .fields.splitted
       .field.request.long
        = f.label :manager_comment, t(:manager_comment)
        = f.text_area :manager_comment, :style => "height:3em;"
       -# - unless @only_store.nil?
        - unless to_bool(@only_store)
         %div.dms_loader{:style=>"float=right;"}
          %img{:src => image_path('ajax-loader.gif')}
       = render :partial => "shared/submit_button", :locals => {:title => "Отправить"}
      .clear
    .search-tab-block{:style => @search.external_code.blank? ? "display:none;" : ""}
     = form_for :search, :url => search_path do |f|
      %div
       -# .field.artikul
       .field
        -# = f.label :external_code, t(:artikul)
        = f.text_field :external_code
       = render :partial => "shared/submit_button", :locals => {:title => t(:find)}
      .clear
      .fields
       - if defined?(@use_alt_price)
        %span.switch{:class=>"radio"}
         Цены:
         %a{:href=>"#", :class=>[@use_alt_price ? nil : "active", "usd"]}
          %span USD
         %a{:href=>"#", :class => [@use_alt_price ? "active" : nil, "rub"]}
          %span RUB
       -# .button.commit
        %a.button-style{:href=>"#"}
         %i.t &nbsp;
         %i.b &nbsp;
         %i.tl &nbsp;
         %i.tr &nbsp;
         %span Отправить!
         %i.bl &nbsp;
         %i.br &nbsp;
      .clear
      -# .field
       %input{:type=>"text", :value=>"TDA2003;OR;400"}
      -# .button
       %a.button-style{:href=>"#"}
        %i.t &nbsp;
        %i.b &nbsp;
        %i.tl &nbsp;
        %i.tr &nbsp;
        %span Найти!
        %i.bl &nbsp;
        %i.br &nbsp;
      -# .clear
    -# .search-tab-block{:style=>"display:none;"}
     %form{:action=>" "}
      .field
       .input{:type=>"text", :value=>"TDA2003;OR;500"}
      .button
       %a.button-style{:href=>"#"}
        %i.t &nbsp;
        %i.b &nbsp;
        %i.tl &nbsp;
        %i.tr &nbsp;
        %span Найти!
        %i.bl &nbsp;
        %i.br &nbsp;
      .clear

