if($("tr.analog_#{@after}").length > 0){
$("tr.analog_#{@after}").remove();
}
$("#{escape_javascript(@items.empty? ? render(:partial => "analog_empty", :locals => {:after => @after}) : render( :partial => "analog_line", :collection => @items, :locals => {:after => @after}))}").insertAfter($("tr.#{@after}").last());
- unless @items.empty?
 $("#{escape_javascript(render(:partial => "analog_header", :locals => {:after => @after}))}").insertAfter($("tr.#{@after}").last());
 if($("tr.gap_#{@after}").length == 0  ){
 $("#{escape_javascript(render(:partial => "gap_line", :locals => {:after => @after}))}").insertAfter($("tr.dms_#{@after}").add("tr.analog_#{@after}").add("tr.info_#{@after}").last());
 }
$("tr.analog_#{@after} th .plus").click(function(){
$("tr.analog_#{@after}").remove();
if($("tr.dms_#{@after}").add("tr.info_#{@after}").length == 0){
$("tr.gap_#{@after}").remove();
}
});
