if($("tr.dms_item_#{@after}").length > 0){
$("tr.dms_item_#{@after}").remove();
}
- if @items.empty?
 $("#{escape_javascript(render(:partial => "dms_empty", :locals => {:after => @after}))}").insertAfter($("tr.item_#{@after}").add("tr.info_item_#{@after}").last());
- else
 $("#{escape_javascript(render(:partial => "dms_header", :locals => {:after => @after}))}").insertAfter($("tr.item_#{@after}").add("tr.info_item_#{@after}").last());
 $("#{escape_javascript(render( :partial => "dms_line", :collection => @items, :locals => {:after => @after}))}").insertAfter($("tr.dms_item_#{@after}.heading").last());
 if($("tr.gap_#{@after}").length == 0  ){
 $("#{escape_javascript(render(:partial => "gap_line", :locals => {:after => @after}))}").insertAfter($("tr.dms_item_#{@after}").add("tr.analog_item_#{@after}").add("tr.info_item_#{@after}").last());
 }
$("tr.dms_item_#{@after} th .plus").click(function(){
$("tr.dms_item_#{@after}").remove();
if($("tr.analog_item_#{@after}").add("tr.info_item_#{@after}").length == 0){
$("tr.gap_#{@after}").remove();
}
});
