- if logged_in?
 .user-block
  %span.name
   = current_user.name
  -# .comp
   ООО "Рога и копыта.РУ"
  %a{:href=>"#"}
   Настройки
  = link_to "Выход из системы", sessions_path, :method => :delete, :class => "quite"
   
- else
 = form_tag sessions_path do
  = text_field_tag "session[username]"
  = submit_tag "Войти"
 = link_to "Регистрация", new_user_path
.clear
