.user-block
 %span.name
  = current_user.username
 -# .comp
  ООО "Рога и копыта.РУ"
 %a{:href=>"#"}
  Настройки
 = link_to "Выход из системы", sessions_path, :method => :delete, :class => "quite"
%div
 = select_tag :hash, options_from_collection_for_select(@accounts, :id, :name, @hash)
.clear
.search
 = form_for :search, :url => search_path do |f|
  = f.label :query_string
  = f.text_field :query_string
%h1 Пользователи
- @users.each do |user|
 .line
  = link_to user.username, edit_user_path(user)
