if($("tr.info_#{@after}").length > 0){
$("tr.info_#{@after}").remove();
} /* clean old */
$("#{escape_javascript(render( :partial => "info_block", :locals => {:after => @after, :info_block => @data}))}").insertAfter($("tr.#{@after}").last());
 if($("tr.gap_#{@after}").length == 0  ){
 $("#{escape_javascript(render(:partial => "gap_line"))}").insertAfter($("tr.dms_#{@after}").add("tr.analog_#{@after}").add("tr.info_#{@after}").last());
 }
$("tr.info_#{@after} th .plus").click(function(){
$("tr.info_#{@after}").remove();
if($("tr.analog_#{@after}").length == 0 && $("tr.dms_#{@after}").length == 0){
$("tr.gap_#{@after}").remove();
}
});
