.nav-title
 %span.current Настройки
= form_for :profile, :url => update_profile_path do |form|
 .profile_line
  .heading Применение для производителя
  .values
   = render :partial => "shared/select_list", :locals => {:list_items => Axapta.application_area_list.map{|a| [a.application_area_id, a.application_area_name] }, :name => "area_list"}
 .profile_line
  .heading Персональные настройки
  .values
   = render :partial => "shared/check_button", :locals => {:name => "profile[search.show_box]", :title => "Показывать поиск", :opts => {:need_field => true, :use_system => true, :value => WebUtils.parse_bool(@profile.show_box)}}
  .values
   = render :partial => "shared/check_button", :locals => {:name => "profile[search.only_store]", :title => "Только на складе", :opts => {:need_field => true, :use_system => true, :value => WebUtils.parse_bool(@profile.only_store)}}
  .values
   = render :partial => "shared/check_button", :locals => {:name => "profile[search.only_available]", :title => "Только доступные", :opts => {:need_field => true, :use_system => true, :value => WebUtils.parse_bool(@profile.only_available)}}
  .values
  
 .profile_line
  .heading Только мои заказы
  .values
   = render :partial => "shared/check_button", :locals => {:name => "profile[order.only_my]", :title => "Только мои", :opts => {:need_field => true, :use_system => true, :value => WebUtils.parse_bool(@profile.only_my)}}
 
 .profile_line
  .heading Настройка оповещений
  .values &mdash;

 .profile_line
  .heading На фирме
  .values &mdash;
 .profile_line
  .heading Количество дней резервирования
  .values= @profile.reservation_end
 = render :partial => "shared/submit_button", :locals => {:title => t(:save_setting), :name => "submit"}
