= form_for :profile, :url => update_profile_path do |form|
 .line
  .heading Персональные настройки
  .values
   = render :partial => "shared/check_button", :locals => {:name => "profile[search.show_box]", :title => "Показывать поиск", :opts => {:need_field => true, :use_system => true, :value => WebUtils.parse_bool(@profile.show_box)}}
  .values
   = render :partial => "shared/check_button", :locals => {:name => "profile[search.only_store]", :title => "Только на складе", :opts => {:need_field => true, :use_system => true, :value => WebUtils.parse_bool(@profile.only_store)}}
  .values
   = render :partial => "shared/check_button", :locals => {:name => "profile[search.only_available]", :title => "Только доступные", :opts => {:need_field => true, :use_system => true, :value => WebUtils.parse_bool(@profile.only_available)}}
  .values
  
 .line
  .heading Только мои заказы
  .values
   = render :partial => "shared/check_button", :locals => {:name => "profile[order.only_my]", :title => "Только мои", :opts => {:need_field => true, :use_system => true, :value => WebUtils.parse_bool(@profile.only_my)}}
 
 .line
  .heading Применение для производителя
  .values &mdash;
 .line
  .heading Настройка оповещений
  .values &mdash;

 .line
  .heading На фирме
  .values &mdash;
 .line
  .heading Количество дней резервирования
 = render :partial => "shared/submit_button", :locals => {:title => "Save", :name => "submit"}
