.nav-title
 %span.current Настройки
.fixed-block
 = form_for :profile, :url => update_profile_path do |form|
  .profile_line
   .heading
    Персональные настройки
   .values
    = render :partial => "shared/select_list", :locals => {:list_items => Axapta.application_area_list.sort_by{|a| a.application_area_name }.map{|a| [a.application_area_id, a.application_area_name] }, :name => "profile[cart.area_list]", :title => "Применение для производителя, выбранное по умолчанию", :opts => {:use_system =>true, :selected => @profile.area_list}}
   .values
    = render :partial => "shared/check_button", :locals => {:name => "profile[alert.urm]", :title => "Отправлять оповещения в УРМ", :opts => {:need_field => true, :use_system => true, :value => WebUtils.parse_bool(@profile.alert_urm)}}
   .values
    = render :partial => "shared/check_button", :locals => {:name => "profile[alert.post]", :title => "Отправлять оповещения на электронную почту", :opts => {:need_field => true, :use_system => true, :value => WebUtils.parse_bool(@profile.alert_post)}}
   .values
    = render :partial => "shared/check_button", :locals => {:name => "profile[search.show_box]", :title => "Показывать окно &#171;Поиск&#187; на всех страницах".html_safe, :opts => {:need_field => true, :use_system => true, :value => WebUtils.parse_bool(@profile.show_box)}}
   .values
    = render :partial => "shared/check_button", :locals => {:name => "profile[search.only_store]", :title => "Устанавливать настройку &laquo;Только склад&raquo; в окне &laquo;Поиск&raquo;".html_safe, :opts => {:need_field => true, :use_system => true, :value => WebUtils.parse_bool(@profile.only_store)}}
   .values
    = render :partial => "shared/check_button", :locals => {:name => "profile[search.only_available]", :title => "Устанавливать настройку &laquo;Только в наличии&raquo; в окне &laquo;Поиск&raquo;".html_safe, :opts => {:need_field => true, :use_system => true, :value => WebUtils.parse_bool(@profile.only_available)}}
   .values
    = render :partial => "shared/check_button", :locals => {:name => "profile[order.only_my]", :title => "Устанавливать настройку &laquo;Только мои&raquo; там, где она есть".html_safe, :opts => {:need_field => true, :use_system => true, :value => WebUtils.parse_bool(@profile.only_my)}}
  
  .profile_line
   .heading Общие для всех сотрудников
   .values Продолжительность резервирования товара #{@profile.reservation_end} дней
   -# #29754
   .values Требования к упаковке
   .values Тип упаковки, выбранный по умолчанию
  = render :partial => "shared/submit_button", :locals => {:title => t(:save_setting), :name => "submit"}


