-# добавить application_area_mandatory
.table-navigation-block{:class => "scroll"}
 .table-block
  .table-scrolling
   = form_for :cart_fields, :url => carts_path, :method => :post, :html=>{:class => "js"}, :remote => true do |frm|
    %table.table-style{:class => "search-products"}
     - unless @items.empty?
      %tr
       %th{:rowspan => 2} &nbsp;
       %th.text-left{:rowspan => 2}= t :item_name
       %th.text-left{:rowspan => 2}= t :item_brend
       %th{:rowspan=>2}= t :body_name
       %th{:rowspan => 2} ROHS
       %th{:rowspan => 2}= t :to_cart
       %th.double-cell{:colspan => 3}= t :avail
       %th{:rowspan => 2}= t :location
       %th{:rowspan => 2}= t :price1
       %th{:rowspan => 2}= t :count2
       %th{:rowspan => 2}= t :price2
       %th{:rowspan => 2}= t :count3
       %th{:rowspan => 2}= t :price3
       %th{:rowspan => 2}= t :count4
       %th{:rowspan => 2}= t :price4
       %th{:rowspan => 2}= t :quantity

      %tr
       %th.bold.double-first-cell= t :avail_min
       %th.bold= t :avail_max
       %th.bold.double-last-cell MPQ

     - if @items.empty?
      %tr
       %td{:colspan => 22}= t :items_not_found
     - else
      = render :partial => "items_line", :collection => @items, :locals => {:need_links => true, :form => frm}

     - if @items.size > 5
      %tr.title-header-bottom
       %th{:rowspan => 2} &nbsp;
       %th.text-left{:rowspan => 2}= t :item_name
       %th.text-left{:rowspan => 2}= t :item_brend
       %th{:rowspan=>2}= t :body_name
       %th{:rowspan => 2} ROHS
       %th{:rowspan => 2}= t :to_cart
       %th.bold.double-first-cell= t :avail_min
       %th.bold= t :avail_max
       %th.bold.double-last-cell MPQ
       %th{:rowspan => 2}= t :location
       %th{:rowspan => 2}= t :price1
       %th{:rowspan => 2}= t :count2
       %th{:rowspan => 2}= t :price2
       %th{:rowspan => 2}= t :count3
       %th{:rowspan => 2}= t :price3
       %th{:rowspan => 2}= t :count4
       %th{:rowspan => 2}= t :price4
       %th{:rowspan => 2}= t :quantity

      %tr.title-header-bottom
       %th.double-cell{:colspan => 3}= t :avail
    .padded
    = render :partial => "shared/submit_button", :locals => {:title => t(:add_to_cart), :name => "items[commit]"}
 .clear.block-padded &nbsp;
 .cart-table.block-padded
  .cart= render :partial => "carts/cart_table", :locals => {:cart => @carts, :app_list => @app_list}
 .allow-order.block-padded
  = link_to t(:start_edit_order), new_order_path, :id => "allow_order", :class => "ajax"

 #order= render :partial => "main/order_edit"
 .results

:javascript
 $(document).ready(function(){
  $('.slider').hide();
  if(#{User.current.cart_items.unprocessed.in_cart.count} == 0){
   $('.cart-table').add('.allow-order').hide();
  }
  if($(".calendar-input").length > 0){
   $(".calendar-input").datepicker({ dateFormat: 'yy-mm-dd' });
  }
  search_icons_handle();
  apply_hover_in_table_on_mmove();
  //load_dms_each(#{not to_bool(@only_store)});
  load_dms_bundle("#{main_mass_dms_url(:query_string => @search.query_string)}", #{not to_bool(@only_store)});
  $("#order").hide();
  activateSearchAllowOrderButton();
  $("#cancel_order").hide();
  activateSearchCancelButton();
  //$('a.button-style').click(function(){
  //$(this).parents('form').submit();
  //return false;
  //});
 });

