.search-block
 .back-x
  .back-l
   .back-r
    %a.close-link{:href=>"#"}
     %span свернуть
    .search-tabs
     -# %a{:href=>"#"}
      %span
       %span Список
     %a.active{:href=>"#"}
      %span
       %span Поиск по наименованию
     -# %a{:href=>"#"}
      %span
       %span Артикул ДМС (Farnel, Newark)
     -# %a{:href=>"#"}
      %span
       %span По параметрам
     %a.more{:href=>"#"} Еще
    -# .search-tab-block{:style=>"display:none;"}
     %form{:action=>" "}
      .field
       %textarea.list-area{:cols=>"1", :rows=>"1"}
        TDA2003;OR;300
        OPA129U;TI;1
        IRFP044;;3
        215035;50
        189566;50
        OPA129U;TI;1
        IRFP044;;3
        215035;50
        189566;50
      .button
       %a.button-style{:href=>"#"}
        %i.t &nbsp;
        %i.b &nbsp;
        %i.tl &nbsp;
        %i.tr &nbsp;
        %span Найти!
        %i.bl &nbsp;
        %i.br &nbsp;
      .clear

    .search-tab-block
     -# %form{:action=>" "}
     = form_for :search, :url => search_path do |f|
      .field
       -# = f.label :query_string
       = f.text_field :query_string
       -# = f.submit :find
      -# %input{:type=>"text", :value=>"TDA2003;OR;300"}
      .button
       %a.button-style{:href=>"#"}
        %i.t &nbsp;
        %i.b &nbsp;
        %i.tl &nbsp;
        %i.tr &nbsp;
        %span Найти!
        %i.bl &nbsp;
        %i.br &nbsp;
     -# .clear
    -# .search-tab-block{:style=>"display:none;"}
     %form{:action=>" "}
      .field
       %input{:type=>"text", :value=>"TDA2003;OR;400"}
      .button
       %a.button-style{:href=>"#"}
        %i.t &nbsp;
        %i.b &nbsp;
        %i.tl &nbsp;
        %i.tr &nbsp;
        %span Найти!
        %i.bl &nbsp;
        %i.br &nbsp;
      .clear
    -# .search-tab-block{:style=>"display:none;"}
     %form{:action=>" "}
      .field
       .input{:type=>"text", :value=>"TDA2003;OR;500"}
      .button
       %a.button-style{:href=>"#"}
        %i.t &nbsp;
        %i.b &nbsp;
        %i.tl &nbsp;
        %i.tr &nbsp;
        %span Найти!
        %i.bl &nbsp;
        %i.br &nbsp;
      .clear



-# .search

-# .extended{:class => :search}
 = form_for :extended, :url => extended_path do |f|
  .line
   = f.label :only_available
   = f.check_box :only_available
  .line
   = f.label :invent_location_id
   = f.text_field :invent_location_id
  .line
   = f.label :cust_account
   = f.text_field :cust_account
  .line
   = f.label :query_string
   = f.text_field :query_string
  .line
   = f.label :search_brend
   = f.text_field :search_brend
  .line
   = f.label :item_id_search
   = f.text_field :item_id_search
  .line
   = f.label :calc_qty
   = f.check_box :calc_qty
  .line
   = f.label :show_delivery_prognosis
   = f.check_box :show_delivery_prognosis
  .line
   = f.label :calc_price
   = f.check_box :calc_price
  .line
   = f.submit :find

.items
 %table.table-style
  %tr
   %th{:rowspan => 2}= t :actions
   %th.text-left{:rowspan => 2}= t :item_name
   %th.text-left{:rowspan => 2}= t :item_brend
   %th{:rowspan => 2} ROHS
   %th{:rowspan => 2}= t :to_cart
   %th.bold{:colspan => 2}= t :avail
   %th{:rowspan => 2}= t :prognosis
   %th{:rowspan => 2}= t :price1
   %th{:rowspan => 2}= t :count2
   %th{:rowspan => 2}= t :price2
   %th{:rowspan => 2}= t :count3
   %th{:rowspan => 2}= t :price3
   %th{:rowspan => 2}= t :count4
   %th{:rowspan => 2}= t :price4
   %th{:rowspan => 2}= t :location
   %th{:rowspan => 2}= t :quantity
  %tr
   %th= t :avail_min
   %th= t :avail_max
  = render :partial => "items_line", :collection => @items, :locals => {:need_links => true}

:javascript
 $('.slider').hide();
 $('.js').bind('ajax:success', function(evt, xhr, status){
  eval(xhr.responseText);
 });
 $('.js').bind('ajax:complete', function(evt, xhr, status){
  $(this).parents('.icons').find('.slider').hide('1000');
 });
 $('.icon .js').bind('ajax:beforeSend', function(evt, xhr, status){
  $(this).parents('.icon').hide();
  $(this).parents('.icons').find('.slider').show();
 });
 $('a.button-style').click(function(){
  $(this).parents('form').submit();
  return false;
 });
