.user-block
 %span.name
  = current_user.username
 -# .comp
  ООО "Рога и копыта.РУ"
 %a{:href=>"#"}
  Настройки
 = link_to "Выход из системы", sessions_path, :method => :delete, :class => "quite"
.clear
.select_account
 = select_tag :hash, options_from_collection_for_select(@accounts, "id", "name")
.search
 = form_for :search, :url => search_path do |f|
  = f.select :user_hash, options_from_collection_for_select(@accounts, :axapta_hash, :id, @hash)
  = f.label :query_string
  = f.text_field :query
  = f.submit "find"

.extended{:class => :search}
 = form_for :extended, :url => extended_path do |f|
  = f.select :user_hash, options_from_collection_for_select(@accounts, :axapta_hash, :id, @hash)
  .line
   = f.label :only_available
   = f.check_box :only_available
  .line
   = f.label :invent_location_id
   = f.text_field :invent_location_id
  .line
   = f.label :cust_account
   = f.text_field :cust_account
  .line
   = f.label :query_string
   = f.text_field :query_string
  .line
   = f.label :search_brend
   = f.text_field :search_brend
  .line
   = f.label :item_id_search
   = f.text_field :item_id_search
  .line
   = f.label :calc_qty
   = f.check_box :calc_qty
  .line
   = f.label :user_hash
   = f.text_field :user_hash
  .line
   = f.label :show_delivery_prognosis
   = f.check_box :show_delivery_prognosis
  .line
   = f.label :calc_price
   = f.check_box :calc_price
  .line
   = f.submit "find"

.items
 %table{:border => '2', :style=>"border: 2px black solid;cellspacing:2px;cellpadding:2px;"}
  %tr
   %th{:rowspan => 3}= t :item_brend
   %th{:rowspan => 3}= t :item_id
   %th{:rowspan => 3}= t :item_name
   %th{:colspan=>8}= t :locations
   %th{:rowspan => 3}= t :min_qty
   %th{:rowspan => 3}= t :package_name
   %th{:rowspan => 3}= t :qty_in_pack
   %th{:rowspan => 3}= t :rohs
   %th{:rowspan => 3}= t :segment_rus
  %tr
   %th{:colspan => 2}= t :delivery_prognosis
   %th{:rowspan => 2}= t :location_id
   %th{:colspan=>4}= t :price_qty
   %th{:rowspan=>2}= t :vend_qty
  %tr
   %th= t :delivery_date
   %th= t :delivery_qty
   %th= t :max_qty
   %th= t :min_qty
   %th= t :price
   %th= t :price_ref
  - @items.each do |item|
   %tr
    %td= item["item_brend"]
    %td= item["item_id"]
    %td= item["item_name"]
    %td
     %table
      - if item["locations"].empty?
       %td{:colspan=>8} &nbsp;
      -# item["locations"].each do |location|
      - location = item["locations"].first
      - do
       %tr
        %td
         %table
          - if location["delivery_prognosis"].empty?
           %td{:colspan=>2} &nbsp;
          -location["delivery_prognosis"].each do |prognos|
           %tr
            %td= prognos["delivery_date"]
            %td= prognos["delivery_qty"]
        %td= location["location_id"]
        %td
         %table
          - if locations["price_qty"].empty?
           %td{:colspan=>4} &nbsp;
          - location["price_qty"].each do |price|
           %tr
            %td= price["max_qty"]
            %td= price["min_qty"]
            %td= price["price"]
            %td= price["price_ref"]
        %td= location["vend_qty"]
    %td= item["min_qty"]
    %td= item["package_name"]
    %td= item["qty_in_pack"]
    %td= item["rohs"]
    %td= item["segment_rus"]

-#  rendered.should have_xpath("//form[@action='/extended' and @method='post']")
-#  rendered.should have_xpath("//form//input[@name='extended[only_available]' and @type='checkbox']")
-#  rendered.should have_xpath("//form//input[@name='extended[invent_location_id]' and @type='text']")
-#  rendered.should have_xpath("//form//input[@name='extended[cust_account]' and @type='text']")
-#  rendered.should have_xpath("//form//input[@name='extended[query_string]' and @type='text']")
-#  rendered.should have_xpath("//form//input[@name='extended[search_brend]' and @type='text']")
-#  rendered.should have_xpath("//form//input[@name='extended[item_id_search]' and @type='text']")
-#  rendered.should have_xpath("//form//input[@name='extended[calc_qty]' and @type='checkbox']")
-#  rendered.should have_xpath("//form//input[@name='extended[user_hash]' and @type='text']")
-#  rendered.should have_xpath("//form//input[@name='extended[show_delivery_prognosis]' and @type='checkbox']")
-#  rendered.should have_xpath("//form//input[@name='extended[calc_price]' and @type='checkbox']")

