-# добавить application_area_mandatory
.table-navigation-block{:class => "scroll"}
 .table-block
  .table-scrolling
   .padded
    -# = form_for :export_fields, :url => export_main_index_path(:format => :csv), :method => :post, :html=>{:class => "js"} do |f|
     = render :partial => "shared/submit_button", :locals => {:title => "Export", :name => "items[export]"}

   = form_for :cart_fields, :url => carts_path, :method => :post, :html=>{:class => "js"}, :remote => true do |frm|
    = render :partial => "shared/submit_button", :locals => {:title => t(:add_to_cart), :name => "items[commit]", :opts => {:class => (@items.empty? ? "disabled" : nil)}}
    .clear.padded
    %table.table-style{:class => "search-products"}
     - unless @items.empty?
      %tr
       %th{:rowspan => 2} &nbsp;
       %th.text-left{:rowspan => 2}= t :item_name
       %th.text-left{:rowspan => 2}= t :item_brend
       %th.text-left{:rowspan=>2}= t :body_name
       %th{:rowspan => 2} ROHS
       %th{:rowspan => 2}= t :to_cart
       %th.double-cell{:colspan => 3}= t :avail
       %th{:rowspan => 2}= t :location
       %th{:rowspan => 2}= t :price1
       %th{:rowspan => 2}= t :count2
       %th{:rowspan => 2}= t :price2
       %th{:rowspan => 2}= t :count3
       %th{:rowspan => 2}= t :price3
       %th{:rowspan => 2}= t :count4
       %th{:rowspan => 2}= t :price4
       -# %th{:rowspan => 2}= t :quantity

      %tr
       %th.bold.double-first-cell= t :avail_min
       %th.bold= t :avail_max
       %th.bold.double-last-cell MPQ

     - if @items.empty?
      %tr
       %td{:colspan => 22}= t :items_not_found
     - else
      = render :partial => "items_line", :collection => @items, :locals => {:need_links => true, :form => frm}

     - if @items.size > 5
      %tr.title-header-bottom
       %th{:rowspan => 2} &nbsp;
       %th.text-left{:rowspan => 2}= t :item_name
       %th.text-left{:rowspan => 2}= t :item_brend
       %th.text-left{:rowspan=>2}= t :body_name
       %th{:rowspan => 2} ROHS
       %th{:rowspan => 2}= t :to_cart
       %th.bold.double-first-cell= t :avail_min
       %th.bold= t :avail_max
       %th.bold.double-last-cell MPQ
       %th{:rowspan => 2}= t :location
       %th{:rowspan => 2}= t :price1
       %th{:rowspan => 2}= t :count2
       %th{:rowspan => 2}= t :price2
       %th{:rowspan => 2}= t :count3
       %th{:rowspan => 2}= t :price3
       %th{:rowspan => 2}= t :count4
       %th{:rowspan => 2}= t :price4
       -# %th{:rowspan => 2}= t :quantity

      %tr.title-header-bottom
       %th.double-cell{:colspan => 3}= t :avail
    .padded
    - unless @items.empty?
     = render :partial => "shared/submit_button", :locals => {:title => t(:add_to_cart), :name => "items[commit]"}
 .clear.block-padded &nbsp;
 .cart-table.block-padded
  .cart= render :partial => "carts/cart_table", :locals => {:cart => @carts, :app_list => @app_list}
 -# .allow-order.block-padded
  = link_to t(:start_edit_order), new_order_path, :id => "allow_order", :class => "ajax"
 - unless @carts.empty?
  #allow-order= render :partial => 'shared/button', :locals => {:title => t(:start_edit_order)}
 #order
 -# #order= render :partial => "main/order_edit"
 .results

:javascript
 $(document).ready(function(){
  $('.slider').hide();
  //$('#order').hide();
  if(#{User.current.cart_items.unprocessed.in_cart.count} == 0){
   $('.cart-table').hide();
   //$('.cart-table').add('.allow-order').hide();
  }
  if($(".calendar-input").length > 0){
   $(".calendar-input").datepicker({ dateFormat: 'yy-mm-dd' });
  }
  search_icons_handle();
  apply_hover_in_table_on_mmove();
  //load_dms_each(#{not to_bool(@only_store)});
  load_dms_bundle("#{mass_dms_main_index_path(:query_string => @search.query_string)}", #{not to_bool(@only_store)});
  activateSearchAllowOrderButton();
  activateSearchCancelButton();
  cartsHandleRadioPicks();
  cartsHandleSaveOnFocusLost();
  cartsProcessRadioPicks();
  runAllowOrder();
 });

