-# .search-result-block
 -# .main-title Результаты поиска
 .filters
  %span.switch{:class=>"radio"}
   Цены: 
   %a{:href=>"#", :class=>"active"}
    %span USD
   %a{:href=>"#"}
    %span RUB
  -# %span.switch{:class=>"check"}
   Показать: 
   %a{:href=>"#", :class=>"active"}
    %span Только в наличии
  %span.switch{:class=>"radio"}
   Упорядочить по: 
   %a{:href=>"#", :class=>"active"}
    %span Цене
   %a{:href=>"#"}
    %span Наличию
  -# %span.switch{:class=>"check none"}
   Показать: 
   %a{:href=>"search_result_group.html"}
    %span Прогноз поставки
.table-navigation-block{:class => "scroll"}
 .table-block
  .table-scrolling
   = form_for :cart_fields, :url => carts_path, :method => :post, :html=>{:class => "js"}, :remote => true do |frm|
    %table.table-style{:class => "search-products"}
     %tr
      %th{:rowspan => 2} &nbsp;
      %th.text-left{:rowspan => 2}= t :item_name
      %th.text-left{:rowspan => 2}= t :item_brend
      %th{:rowspan=>2}= t :body_name
      %th{:rowspan => 2} ROHS

      %th{:rowspan => 2}= t :to_cart

      %th{:colspan => 3}= t :avail

      %th{:rowspan => 2}= t :location

      -# %th{:rowspan => 2}= t :prognosis
      %th{:rowspan => 2}= t :price1
      %th{:rowspan => 2}= t :count2
      %th{:rowspan => 2}= t :price2
      %th{:rowspan => 2}= t :count3
      %th{:rowspan => 2}= t :price3
      %th{:rowspan => 2}= t :count4
      %th{:rowspan => 2}= t :price4


      %th{:rowspan => 2}= t :quantity
      -# %th{:rowspan=>"2"} Рег. позиция
      -# %th{:rowspan=>"2"} Снято с произв.
      -# %th{:rowspan=>"2"} Сегмент
      -# %th{:rowspan=>"2"}
       Цена конеч.
       %br
       потребителя

     %tr
      %th.bold= t :avail_min
      %th.bold= t :avail_max
      %th.bold MPQ

     - if @items.empty?
      %tr
       %td{:colspan => 22}= t :items_not_found
     - else
      = render :partial => "items_line", :collection => @items, :locals => {:need_links => true, :frm => form}

     %tr.title-header-bottom
      %th{:rowspan => 2} &nbsp;
      %th.text-left{:rowspan => 2}= t :item_name
      %th.text-left{:rowspan => 2}= t :item_brend
      %th{:rowspan=>2}= t :body_name
      %th{:rowspan => 2} ROHS
      %th{:rowspan => 2}= t :to_cart
      %th.bold= t :avail_min
      %th.bold= t :avail_max
      %th.bold MPQ
      %th{:rowspan => 2}= t :location
      -# %th{:rowspan => 2}= t :prognosis
      %th{:rowspan => 2}= t :price1
      %th{:rowspan => 2}= t :count2
      %th{:rowspan => 2}= t :price2
      %th{:rowspan => 2}= t :count3
      %th{:rowspan => 2}= t :price3
      %th{:rowspan => 2}= t :count4
      %th{:rowspan => 2}= t :price4
      %th{:rowspan => 2}= t :quantity
      -# %th{:rowspan=>"2"} Рег. позиция
      -# %th{:rowspan=>"2"} Снято с произв.
      -# %th{:rowspan=>"2"} Сегмент
      -# %th{:rowspan=>"2"}
       Цена конеч.
       %br
       потребителя

     %tr.title-header-bottom
      %th.double-cell{:colspan => 3}= t :avail
    = frm.submit t(:add_to_cart), :name => "items[commit]"

 .clear
 .cart-table
  .cart= render :partial => "carts/cart_table", :locals => {:cart => @cart}
 %div
  = link_to t(:start_edit_order), new_order_path, :id => "allow_order"

 #order= render :partial => "main/order_edit"


:javascript
 $(document).ready(function(){
  $('.slider').hide();
  search_icons_handle();
  apply_hover_in_table_on_mmove();
  //load_dms_each(#{not to_bool(@only_store)});
  load_dms_bundle("#{main_mass_dms_url(:query_string => @search.query_string)}", #{not to_bool(@only_store)});
  $("#order").hide();
  $("a#allow_order").click(function(){
  $("#order").show();
  $("table#search-products").parents("form").hide();
  return false;
  });
 /*$('a.button-style').click(function(){
  $(this).parents('form').submit();
  return false;
 });*/
 });
