= link_to "Список менеджеров", admin_managers_path
%h1 Список пользователей
- @users.each do |user|
 %div
  = link_to "Новый пароль для #{user.username}", edit_admin_user_passwords_path(user.id)
%h1 Новости
- @news.each do |art|
 %div
  = link_to "#{art.created_at} &mdash; #{art.name}", edit_admin_news_path(art)
%h1 help
%table
 %tr
  %th Название
  %th (ключ)
 - @articles.each do |article|
  %tr
   %td= article.name
   %td= link_to article.key || "нет", edit_admin_help_article_path(article.id)
%div
 =link_to "Добавить новость", new_admin_news_path
 =link_to "Добавить статью подсказки", new_admin_help_article_path
