!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml", :dir=>"ltr", :lang=>"ru-RU"}
 %head
  %meta{:"http-equiv"=>"Content-Type", :content=>"text/html; charset=UTF-8"}
  %title УРМ-2 &rsaquo; Войти
  %link#wp-admin-css{:rel=>'stylesheet', :href=>'/stylesheets/wp-admin.css', :type=>'text/css', :media=>'all'}
  %link#colors-fresh-css{:rel=>'stylesheet', :href=>'/stylesheets/colors-fresh.css', :type=>'text/css', :media=>'all'}
  -# %script{:type=>'text/javascript', :src=>'http://192.168.0.72:8080/news/wp-includes/js/jquery/jquery.js?ver=1.7.1'}
  %meta{:name=>'robots', :content=>'noindex,nofollow'}
 %body.login
  #login
   %h1
    %a{:href => "/"}УРМ-2

   - if flash[:error]
    #login_error
     %strong ОШИБКА
     = ": #{flash[:error]}"
     -# = ": Неверное имя пользователя. "
     %a{:href=>"http://192.168.0.72:8080/news/wp-login.php?action=lostpassword", :title=>"Восстановление пароля"}Потеряли пароль
     ?
     %br

   = form_for :session, :url => sessions_path, :id => "loginform" do |form|
    -# %form#loginform{:name=>"loginform", :action=>"/sessions"}
    %p
     %label{:for=>"user_login"}
      Имя пользователя
      %br
      %input#user_login.input{:type=>"text", :name=>"session[username]", :value=>"", :size=>"20", :tabindex=>"10"}
    %p
     %label{:for=>"user_pass"}
      Пароль
      %br
      %input#user_pass.input{:type=>"password", :name=>"session[password]", :value=>"", :size=>"20", :tabindex=>"20"}
    %p.forgetmenot
     %label{:for=>"rememberme"}
      %input#rememberme{:name=>"rememberme", :type=>"checkbox", :value=>"1", :tabindex=>"90"}
      Запомнить меня
    %p.submit
     %input#wp-submit.button-primary{:type=>"submit", :name=>"wp-submit", :value=>"Войти", :tabindex=>"100"}

   %p.nav
    -# %a{:href=>"http://192.168.0.72:8080/news/wp-login.php?action=lostpassword", :title=>"Восстановление пароля"}Забыли пароль?
    -# %a{:href=>"#", :title=>"Восстановление пароля"}Забыли пароль?
    = link_to "Регистрация", new_user_path

  .clear

-#%h2 Sign in

-#- form_for :session, :url => sessions_path do |form|
 .text_field
  - #= form.label :email %>
  - #= form.text_field :email, :type => "email" %>
  -#= form.label t("user.username"), :username
  = form.text_field :username
 .text_field
  = form.label :password
  = form.password_field :password

 .submit_field
  = form.submit "Sign in"
-#%ul
 %li= link_to "Register", new_user_path
 -# %li= link_to "Forgot password?", new_password_path
