%h2 Sign in
= form_for :session, :url => admin_sessions_path do |f|
 .field
  = f.label auth_field_name
  = f.text_field auth_field_name
 .field
  = f.label :password
  = f.password_field :password
 .field
  = f.submit "sign in"
