= form_for :news_article, :url => admin_news_path(@news_article.id), :html => {:method => :put} do |f|
 %div
  =f.label :name#, t(:name)
  = f.text_field :name
 %div
  = f.label :body#, t(:body)
  = f.text_area :body, :class => "redactor"
 %div
  =f.label :publication_start#, t(:publication_start)
  = f.text_field :publication_start
 %div
  =f.label :publication_end#, t(:publication_end)
  = f.text_field :publication_end
 %div
  = f.submit t(:save)
