= form_for :news_article, :url => admin_news_index_path do |f|
 %div
  =f.label t :name
  = f.text_field :name
 %div
  = f.label t :body
  = f.text_area :body, :class => "redactor"
 %div
  = f.submit t :save
