%h1 Редактирование менеджера
- form_for :manager, :url => admin_manager_path(@manager), :html=>{:method => :put} do |form|
 .form_field
  = form.label :name
  = form.text_field :name, :disabled => true
 .form_field
  = form.label :password
  = form.password_field :password
 = form.submit "Сохранить"
