=form_for :article, :url => admin_help_article_path(@article.id), :method => :put do |f|
 .field
  = f.label :name
  = f.text_field :name

 .field
  = f.label :body
  = f.text_area :body, :class => "redactor"

 .field
  = f.label :key
  = f.text_field :key

 = f.submit "save"
