.nav-title
 %span= link_to t(:balance), balance_users_path
.content-wrap

 .info-line
  %table
   %tr
    %th.bold.text-left Фирма
    %th.bold.text-left Валюта
    %th.bold.text-right Свободные средства
    %th.bold.text-right Замороженные средства
    %th.bold.text-right Задолженность
    %th.bold.text-right Баланс в валюте
    %th.bold.text-right Баланс
   - @info.each do |info|
    %tr
     %td.text-left= info.company
     %td.text-left= info.currency
     %td.text-right= @usd_decor.decore info.amount_free
     %td.text-right= @usd_decor.decore info.amount_tied
     %td.text-right= @usd_decor.decore info.cust_debt
     %td.text-right= @rub_decor.decore info.balance_cur
     %td.text-right= @usd_decor.decore info.balance
  .padded
  Общий баланс составляет #{@usd_decor.decore(@info.inject(0.0){|r, i| r + i.balance })} USD

 %h2{:style => "padding-left: 0px;"} История расчетов

 .filter
  = form_for :filter, :url => balance_users_path, :method => :get do |form|
   %table
    %tr
     %th Период с  
     %td
      %input.calendar-input{:type => "text", :name => "filter[date_from]", :value => @filter.try(:date_from) || (Date.today - Date.today.mday + 1).strftime("%Y-%m-%d")}
      по   
      %input.calendar-input{:type => "text", :name => "filter[date_to]", :value => @filter.try(:date_to) || Date.today.strftime("%Y-%m-%d")}
    %tr
     %th Валюта
     %td
      = render :partial => "shared/select_list", :locals => {:list_items => @currencies.map{|i| [i, i]}, :name => "filter[currency]", :title => '', :opts => {:use_system => true, :with_blank => true, :blank_name => "все", :selected => @filter.currency} }
    %tr
     %th Фирма
     %td
      = render :partial => "shared/select_list", :locals => {:list_items => @companies.map{|i| [i, i]}, :name => "filter[company]", :title => '', :opts => {:use_system => true, :with_blank => true, :blank_name => "все", :selected => @filter.company} }
    %tr
     %th
      
     %td
      = render :partial => "shared/check_button", :locals => {:name => "filter[show_linked]", :title => "показать проводки привязки/отвязки", :opts => {:need_field => true, :use_system => true, :value => WebUtils.parse_bool(@filter.try(:show_linked))}}
    %tr
     %th
      
     %td
      = render :partial => "shared/check_button", :locals => {:name => "filter[show_delta]", :title => "показать проводки курсовой разницы", :opts => {:need_field => true, :use_system => true, :value => WebUtils.parse_bool(@filter.show_delta)}}
    %tr
     %th
     %td
      = render :partial => "shared/submit_button", :locals => {:name => "filter[submit]", :title => "Показать"}
 .padded
 - if @transes.blank?
  .padded
   За указанный период операций не найдено
 - else
  .padded
   Общий баланс на начало периода: #{@usd_decor.decore(@transes.first.common_balance_amount.to_f - @transes.first.amount.to_f)} USD; на конец периода: #{@usd_decor.decore @transes.last.common_balance_amount} USD
  .padded
  .table-navigation-block.scroll
   .table-block
    .table-scrolling
     %table.table-style
      %tr
       %th Дата
       %th Операция
       %th Тип операции
       %th Документ
       %th Фирма
       %th Валюта
       %th Приход в валюте
       %th Расход в валюте
       %th Сумма
       %th Баланс в валюте
       %th Общий баланс в валюте
       %th Баланс
       %th Общий баланс
      - @transes.each do |tr|
       %tr
        %td.text-left= tr.trans_date
        %td.text-left= tr.voucher
        %td.text-left= tr.trans_type
        %td.text-left= tr.document_number
        %td.text-left= tr.company_code
        %td.text-left= tr.currency_code
        %td.text-right= @usd_decor.decore tr.debet_amount_cur
        %td.text-right= @usd_decor.decore tr.credit_amount_cur
        %td.text-right= @rub_decor.decore tr.amount
        %td.text-right= @usd_decor.decore tr.balance_amount_cur
        %td.text-right= @usd_decor.decore tr.common_balance_amount_cur
        %td.text-right= @rub_decor.decore tr.balance_amount
        %td.text-right= @rub_decor.decore tr.common_balance_amount
     .padded
     = form_for :export_balance, :url => export_balance_users_path(:format => :csv), :method => :post, :html=>{:class => "js"} do |f|
      %input.copiable{:type => :hidden, :value => 'select#filter_currency'}
      %input.copiable{:type => :hidden, :value => 'select#filter_company'}
      %input.copiable{:type => :hidden, :value => 'input#filter_show_linked:checked'}
      %input.copiable{:type => :hidden, :value => 'input#filter_show_delta:checked'}
      %input.copiable{:type => :hidden, :value => 'div.filter table input[name="filter[date_from]"]'}
      %input.copiable{:type => :hidden, :value => 'div.filter table input[name="filter[date_to]"]'}
      = render :partial => "shared/submit_button", :locals => {:title => t(:export_csv), :name => "balance[export]", :opts => {:class => "preload", :style => "float: right;"}}
     -# .padded
     = form_for :export_balance, :url => export_balance_users_path(:format => :xls), :method => :post, :html=>{:class => "js"} do |f|
      %input.copiable{:type => :hidden, :value => 'select#filter_currency'}
      %input.copiable{:type => :hidden, :value => 'select#filter_company'}
      %input.copiable{:type => :hidden, :value => 'input#filter_show_linked:checked'}
      %input.copiable{:type => :hidden, :value => 'input#filter_show_delta:checked'}
      %input.copiable{:type => :hidden, :value => 'div.filter table input[name="filter[date_from]"]'}
      %input.copiable{:type => :hidden, :value => 'div.filter table input[name="filter[date_to]"]'}
      = render :partial => "shared/submit_button", :locals => {:opts => {:class => "preload", :style => "float: right;"}, :title => t(:export_xls), :name => "balance[export]"}
