.info
 %table
  %tr
   %th Фирма
   %th Валюта
   %th Свободные средства
   %th Замороженные средства
   %th Задолженность
   %th Баланс в валюте
   %th Баланс
  - @info.each do |info|
   %tr
    %td= info.company
    %td= info.currency
    %td= info.amount_free
    %td= info.amount_tied
    %td= info.cust_debt
    %td= info.balance_cur
    %td= info.balance

%h2 История расчетов

.filter
 = form_for :filter, :url => balance_users_path, :method => :get do |form|
  %table
   %tr
    %th Период
    %td
     с:  
     %input.calendar-input{:type => "text", :name => "filter[date_from]", :value => Date.today.strftime("%Y-%m-%d")}
     по:   
     %input.calendar-input{:type => "text", :name => "filter[date_from]", :value => Date.today.strftime("%Y-%m-%d")}
   %tr
    %th Валюта:
    %td
     = render :partial => "shared/select_list", :locals => {:list_items => @currencies.map{|i| [i, i]}, :name => "filter[currency]", :title => '', :opts => {:use_system => true} }
   %tr
    %th Фирма:
    %td
     = render :partial => "shared/select_list", :locals => {:list_items => @companies.map{|i| [i, i]}, :name => "filter[company]", :title => '', :opts => {:use_system => true} }
   %tr
    %th
     показать проводки привязки/отвязки
    %td
   %tr
    %th
     показать проводки курсовой разницы
    %td
  .button.commit
   %a.button-style{:href=>"#"}
    %i.t &nbsp;
    %i.b &nbsp;
    %i.tl &nbsp;
    %i.tr &nbsp;
    %span Найти!
    %i.bl &nbsp;
    %i.br &nbsp;
  -# = form.submit "show"
- unless @transes.blank?
 Общий баланс на начало периода: 0,0000; на конец периода: 1205,3962
 %table
  %tr
   %th Дата
   %th Операция
   %th Тип операции
   %th Документ
   %th Фирма
   %th Валюта
   %th Приход в валюте
   %th Расход в валюте
   %th Сумма
   %th Баланс в валюте
   %th Общий баланс в валюте
   %th Баланс
   %th Общий баланс
 - @transes.each do |tr|
  %tr
   %td= tr.trans_date
   %td= tr.voucher
   %td= tr.trans_type
   %td= tr.document_number
   %td= tr.company_code
   %td= tr.currency_code
   %td= tr.debet_amount_cur
   %td= tr.credit_amount_cur
   %td= tr.amount
   %td= tr.balance_amount_cur
   %td= tr.common_balance_amount_cur
   %td= tr.balance_amount
   %td= tr.common_balance_amount
