= link_to :change_password, new_password_path
= form_for :user, :url => user_path(@user), :html => {:method => :put} do |f|
 .form_field
  = f.label :username
  = f.text_field :username
 .form_field
  = f.label :email
  = f.text_field :email
 = f.submit :save
.accounts
 = render :partial => "accounts/info", :collection => @user.accounts
