%div
 = current_user.username
%div= link_to :edit, edit_user_path(current_user)
%div
 = render :partial => "accounts/info", :collection => current_user.accounts
%div
 = t :parent
 %div
  = @parent.try :username
%div
 = t :children
 - @children.each do |u|
  %div
   = u.username
