%div
 = current_user.username
%div= link_to :edit, edit_user_path(current_user)
 = render :partial => "accounts/info", :collection => current_user.accounts
%div
 parent:
 %div
  = @parent.username
%div
 children:
 - @children.each do |u|
  %div
   = u.username
