.info
 -# = @info.try(:limit)
 %h1 Лимиты
 %h2 Товарный кредит
 %table
  %tr
   %th Сумма непогашенного кредита
   %td= number_to_currency @info.com_credit.credit_amount, :precision => 4, :delimiter => ' ', :separator => ',', :unit => '', :raise => true
  %tr
   %th Отгружено на сумму
   %td= number_to_currency @info.com_credit.credit_invoiced, :precision => 4, :delimiter => ' ', :separator => ',', :unit => '', :raise => true

 %h2 Кредитные лимиты
 %table
  %tr
   %th Лимит товарного кредита
   %td= number_to_currency @info.credit_limits.credit_limit, :precision => 4, :delimiter => ' ', :separator => ',', :unit => '', :raise => true

 %h2 Резервы
 %table
  %tr
   %th Разрешенная сумма резерва
   %td= number_to_currency @info.reserve.reserve_max, :precision => 4, :delimiter => ' ', :separator => ',', :unit => '', :raise => true
  %tr
   %th Текущая сумма резерва
   %td= number_to_currency @info.reserve.reserve_used, :precision => 4, :delimiter => ' ', :separator => ',', :unit => '', :raise => true
  %tr
   %th Доступная сумма резерва
   %td= number_to_currency @info.reserve.reserve_available, :precision => 4, :delimiter => ' ', :separator => ',', :unit => '', :raise => true
 %table
  %tr
   %th Коэффициент эффективности использования резервирования
   %td= number_to_currency @info.reserve.reserve_coefficient, :precision => 2, :delimiter => ' ', :separator => ',', :unit => '', :raise => true
