%span.switch.check
 - if defined?(opts)
  - id = opts[:id].blank? ? name.to_s.split(/[\[\]\-]/).map{|s| s.blank? ? nil : s }.compact.join('_') : opts[:id]
  - val = opts.has_key?(:value) ? (opts[:value] ? '1' : '0') : '0'
  - if opts[:use_system]
   - unless opts[:send_only_checked]
    %input{:type => "hidden", :id => "#{id}_fallback", :value => '0', :name => name}
   %input{:type => "checkbox", :id => id, :value => '1', :name => name, :checked => false}
   %label{:for => id}= title
  - else
   - if opts[:need_field]
    - if opts.has_key?(:field_code)
     = opts[:field_code]
    - else
     = hidden_field_tag name, val, (opts[:field_opts] || {}).merge(id.blank? ? {} : :id => id)
     -# %input{:name => name, :id => id, :value => val}
   %a{:href=>"#", :name => name, :class => [opts[:value] == true || opts[:value] == '1' ? "active" : nil]}
    %span= title
 - else
  %a{:href=>"#", :name => name}
   %span= title
