.pagination{:style => "#{defined?(align) ? "text-align=#{align}" : ""}"}
 - (1..9).each do |curr|
  - if curr == page
   %span.current= curr
  - else
   %a{:href => url_for(params.merge(:page => curr))}= curr
 %span ...
 %a{:href => url_for(params.merge(:page => pages))}= pages
