%tr
 %td= list_line.this_sales_origin
 %td.text-left= link_to list_line.quotation_id, quotation_path(list_line.quotation_id)
 %td.text-left= list_line.cust_account
 %td= list_line.quotation_date
 %td= list_line.prognosis_date
 %td= list_line.comment
 %td= list_line.quotation_status
 %td= list_line.sales_responsible
 %td.text-right= list_line.contact_person_name
