%tr
 %td.text-left= (!currernt_user.current_account.sales_origin.blank?) and list_line.sales_origin.to_s == current_user.current_account.sales_origin ? t(:urm) : ''
 %td.text-center= link_to list_line.quotation_id, quotation_path(list_line.quotation_id)
 %td.text-center= list_line.quotation_date
 %td.text-left= list_line.quotation_status
 %td.text-left= list_line.contact_person_name
 %td.text-left= list_line.sales_responsible
 %td.text-left{:style => "white-space: normal; word-wrap: break-word; text-align: left;"}= list_line.comment
