.content-wrap
 .filter-block
  = form_for :filter, :url => quotations_path, :html => {:method => :get} do |f|
   .fields
    .field
     = f.label :quotation_id, t(:quotation_id)
     = f.text_field :quotation_id
    = render :partial => "shared/submit_button", :locals => {:title => "Найти!"}
   .clear.padding
   .fields
    Искать:
    = render :partial => "shared/select_list", :locals => {:list_items => (@filter.quotation_statuses || []), :name => "filter[quotation_status]", :title => t(:quotation_status), :opts => {:use_system => true, :selected => @filter.quotation_status}}
    -# = f.label :quotation_status
    -# = f.text_field :quotation_status
    = render :partial => "shared/check_button", :locals => {:name => "filter[this_sales_origin]", :title => t(:this_sales_origin), :opts => {:use_system => true, :need_field => false, :value => @filter.try(:this_sales_origin).try(:==, '1')}}
    = render :partial => "shared/check_button", :locals => {:name => "filter[only_my]", :title => t(:only_my), :opts => {:use_system => true, :need_field => false, :value => @filter.try(:only_my).try(:==, '1')}}

 = render :partial => "shared/pagination", :locals => {:page => @quotations.page.to_i, :pages => @quotations.total.to_i}
 .table-title{:class=>"favorite"}Список запросов
 .table-navigation-block{:class => "scroll"}
  .table-block
   .table-scrolling
    %table.table-style.quotation-list
     %tr
      %th УРМ
      %th.text-left Номер запроса
      %th.text-left Код клиента
      %th Дата создания
      %th Прогноз
      %th Примечание
      %th Статус
      %th Менеджер
      %th.text-right Контактное лицо
     = render :partial => "quotations/list_line", :collection => @quotations.items
