.nav-title
 %span= link_to "Запросы", quotations_path
-# %span >
 %span.current Список запросов
.content-wrap
 .filter-block

  = form_for :filter, :url => quotations_path, :html => {:method => :get} do |f|
   .filter
    %table
     %tr
      %th= f.label :quotation_id, t(:quotation_id) + ':'
      %td.medium= f.text_field :quotation_id
     %tr
      %th= t(:quotation_status) + ':'
      %td= render :partial => "shared/select_list", :locals => {:list_items => (@filter.quotation_statuses || []), :name => "filter[quotation_status]", :title => '', :opts => {:use_system => true, :selected => @filter.quotation_status, :with_blank => true}}
     %tr
      %th
      %td= render :partial => "shared/check_button", :locals => {:name => "filter[this_sales_origin]", :title => t(:this_sales_origin), :opts => {:use_system => true, :need_field => false, :value => @filter.try(:this_sales_origin).try(:==, '1')}}
     %tr
      %th
      %td= render :partial => "shared/check_button", :locals => {:name => "filter[only_my]", :title => t(:only_my), :opts => {:use_system => true, :need_field => false, :value => @filter.try(:only_my).try(:==, '1')}}
     %tr
      %th
      %td= render :partial => "shared/submit_button", :locals => {:title => "Найти!"}

  .padded
   = form_for :export_fields, :url => export_list_quotations_path(:format => :csv), :method => :post, :html=>{:class => "js"} do |f|
    = render :partial => "shared/submit_button", :locals => {:title => "Export", :name => "items[export]"}
 .table-navigation-block{:class => "scroll"}
  .table-block
   .table-scrolling
    = paginate(:derid => {:page => @quotations.page.to_i, :pages => @quotations.total.to_i})
    -# = render :partial => "shared/pagination", :locals => {:page => @quotations.page.to_i, :pages => @quotations.total.to_i, :opts => {:show_numbers => false, :show_prevnext => true, :show_firstlast => true, :show_current => true, :text_before => "Записей: #{@quotations.records}&nbsp;&nbsp;Страниц: #{@quotations.total}&nbsp;&nbsp;".html_safe, :text_before_current => "Страница: "}}
    -# = render :partial => "shared/pagination", :locals => {:page => @quotations.page.to_i, :pages => @quotations.total.to_i, :opts => {:show_numbers => false, :show_prevnext => true, :show_firstlast => true, :show_current => true, :text_before => "Записей: #{@quotations.records}&nbsp;&nbsp;Страниц: #{@quotations.total} Страница "}}
    %table.table-style.quotation-list
     %tr
      %th.text-center Номер запроса
      %th.text-center Дата создания
      %th.text-left Статус
      %th.text-left Примечание
      %th.text-left Контактное лицо
      %th.text-left Менеджер
      %th.text-left УРМ
     = render :partial => "quotations/list_line", :collection => @quotations.items
