-# Фильтры:

-# Код запроса: params.quotation_id
-# Наименование: строка, params.item_name
-# Производитель: params.brend_alias

-# Если указан quotation_id (вариант: если у всех строк один quotation_id, если не сложно),
-# выводим над таблицей строк запроса блок информации о данном запросе:

-# Примечание: comment
-# Статус: quotation_status

.content-wrap
 .filter-block
  = form_for :filter, :url => lines_quotations_path, :html => {:method => :get} do |f|
   .filter
    %table
     %tr
      %th= f.label :item_name, t(:item_name)
      %td.long{:colspan => 3}= f.text_field :item_name
      %td= render :partial => "shared/submit_button", :locals => {:title => "Найти!"}
     %tr
      %th= f.label :quotation_id, t(:quotation_id)
      %td.medium= f.text_field :quotation_id
      %th= f.label :brend_alias, t(:brend_alias)
      %td.medium= f.text_field :brend_alias
      %td
   -# .fields
    .field.urm
     = f.label :quotation_id, t(:quotation_id)
     = f.text_field :quotation_id
    = render :partial => "shared/submit_button", :locals => {:title => "Найти!"}
   -# .clear.block-padded
   -# .fields
    .field.urm
     = f.label :item_name, t(:item_name)
     = f.text_field :item_name
   -# .clear.block-padded
   -# .fields
    .field.urm
     = f.label :brend_alias, t(:brend_alias)
     = f.text_field :brend_alias
   .clear.block-padded

.clear
.content-wrap
 .table-title{:class=>"favorite"}Строки запросов
 .table-navigation-block{:class => "scroll"}
  .table-block
   .table-scrolling
    %table.table-style{:class => "order-list"}
     %tr
      %th Код запроса
      %th Статус
      %th ROHS
      %th= t(:item_name)
      %th Производитель
      %th Цена клиента
      %th Цена предложения
      %th Текущее количество
      %th Прогноз
      %th Примечание
      %th Сумма
      %th Код номенклатуры

     = render :partial => "quotations/item_line", :collection => @lines
