.content-wrap
 -#.filter-block
  = form_for :filter, :url => orders_path, :html => {:method => :get} do |f|
   .fields
    .field
     = f.label :sales_id
     = f.text_field :sales_id
    .field
     = f.label :official_number
     = f.text_field :official_number
     = f.hidden_field :this_sales_origin
     = f.hidden_field :only_my
    .button
     %a.button-style{:href=>"#"}
      %i.t &nbsp;
      %i.b &nbsp;
      %i.tl &nbsp;
      %i.tr &nbsp;
      %span Найти!
      %i.bl &nbsp;
      %i.br &nbsp;
  .clear
  .fields
   %span.switch{:class=>"check"}
    Искать:
    %a{:href=>"#", :name => "filter[this_sales_origin]"}
     %span= t :this_sales_origin
   %span.switch{:class=>"check"}
    %a{:href=>"#", :name => "filter[only_my]"}
     %span= t :only_my

 .table-title.favorite
 .table-navigation-block.scroll
  .table-block
   .table-scrolling
    %table.table-style.quotation-list
     %tr
      %th Код запроса
      %th Статус
      %th ROHS
      %th= t(:item_name)
      %th Производитель
      %th Цена клиента
      %th Цена предложения
      %th Текущее количество
      %th Прогноз
      %th Примечание
      %th Сумма
      %th Код номенклатуры
     -#
      %th ROHS
      %th.text-left Наименование
      %th.text-left Производитель
      %th.text-right Количество
      %th.text-right Цена
      %th.text-right Сумма
      %th Поставка
      %th Резерв
      %th В обработке складом
      %th Получено
      %th Продано
      %th Дата готовности
      %th Ожидаемая дата поставки
      %th Заказ
      %th Контактное лицо
      %th Проект

     = render :partial => "quotations/item_line", :collection => @quotation
