- iid = control_line.line_id
%tr
 %td
  = control_line.item_id
 %td.text-left= control_line.item_name
 %td.text-left= control_line.brend
 %td.text-right.tiny= control_line.sales_qty
 -# TODO %td.text-right= text_field_tag "order[#{showed_line.sales_id}][user_price]", showed_line.user_price
 %td.text-right= control_line.amount
 %td= control_line.reserve_qty
 %td= control_line.reservation_end
 %td= link_to control_line.sales_id, order_path(control_line.sales_id)
 %td= control_line.invoiced_in_total #web
 %td= control_line.date_dead_line #contact
 %td= control_line.confirmed_dlv_date #manager
