.order_info
 %h1 Информация о заказе
 %table
  %tr
   %th
    %span.title= "Расчётный счёт:"
   %td
    = order.bank_account
  %tr
   %th
    %span.title= "Комментарий:"
   %td
    .content
     = order.comment
  %tr
   %th
    %span.title= "Фирма:"
   %td
    = order.company_code
  %tr
   %th
    %span.title= "Валюта:"
   %td
    = order.currency_code
  %tr
   %th
    %span.title= "Дата готовности:"
   %td
    = order.date_dead_line_delivery
  %tr
   %th
    %span.title= "Способ поставки:"
   %td
    = order.delivery_mode
  %tr
   %th
    %span.title= "Счёт:"
   %td
    = order.document_number
  %tr
   %th
    %span.title= "Накладная ТК:"
   %td
    = order.external_invoice_num
  %tr
   %th
    %span.title= "Срок поставки:"
   %td
    = order.max_quotation_prognosis
  %tr
   %th
    %span.title= "Способ оплаты:"
   %td
    = order.paym_mode
  %tr
   %th
    %span.title= "Статус оплаты:"
   %td
    = order.payment_status
  %tr
   %th
    %span.title= "Сумма:"
   %td
    = order.sales_amount
  %tr
   %th
    %span.title= "Дата заказа:"
   %td
    = order.sales_date
  %tr
   %th
    %span.title= "Статус в СОД:"
   %td
    = order.sales_ecommerce_status
  %tr
   %th
    %span.title= "Номер заказа:"
   %td
    = order.sales_id
  %tr
   %th
    %span.title= "Статус:"
   %td
    = order.sales_status

