.order_info
 .line
  %span.title= "Расчётный счёт"
  = order.bank_account
 .line
  %span.title= "Комментарий"
  .content
   = order.comment
 .line
  %span.title= "Фирма"
  = order.company_code
 .line
  %span.title= "Валюта"
  = order.currency_code
 .line
  %span.title= "Дата готовности"
  = order.date_dead_line_delivery
 .line
  %span.title= "Способ поставки"
  = order.delivery_mode
 .line
  %span.title= "Счёт"
  = order.document_number
 .line
  %span.title= "Накладная ТК"
  = order.external_invoice_num
 .line
  %span.title= "Срок поставки"
  = order.max_quotation_prognosis
 .line
  %span.title= "Способ оплаты"
  = order.paym_mode
 .line
  %span.title= "Статус оплаты"
  = order.payment_status
 .line
  %span.title= "Сумма"
  = order.sales_amount
 .line
  %span.title= "Дата заказа"
  = order.sales_date
 .line
  %span.title= "Статус в СОД"
  = order.sales_ecommerce_status
 .line
  %span.title= "Номер заказа"
  = order.sales_id
 .line
  %span.title= "Статус"
  = order.sales_status

