%tr
 %td= item_line.rohs
 %td= item_line.item_name
 %td= item_line.brend
 %td= item_line.sales_qty
 %td= item_line.price
 %td= item_line.amount
 %td= item_line.qty_in_debt
 %td= item_line.reserve_qty
 %td= item_line.qty_in_processing
 %td= item_line.qty_receive
 %td= item_line.invoiced_in_total
 %td= item_line.date_dead_line
 %td= item_line.confirmed_dlv_date
 %td= item_line.sales_id
 %td
 %td
