%tr.heading
 %th.text-left Наименование
 %th.text-left Производитель
 %th ROHS
 %th.text-right Количество
 %th.text-left Статус
 %th Ожидаемая дата поставки
 %th Внештатная ситуация
 %th Дата прояснения ситуации
- tracks.each do |track|
 %tr.data
  %td.text-left= lines_track.item_name
  %td.text-left= lines_track.item_brend
  %td= lines_track.rohs
  %td.text-right= lines_track.qty
  %td.text-left= lines_track.status_rus
  %td= lines_track.expected_date
  %td= lines_track.issue
  %td= lines_track.resolution_date

