%tr
 %td= list_line.this_sales_origin
 %td= list_line.sales_id
 %td= list_line.official_number
 %td= list_line.amount
 -# %td= list_line.
 -# %td= list_line.
 %td= list_line.sales_date
 %td= list_line.sales_status
 %td= list_line.comment
 %td= list_line.contactperson_name
 -# %td= list_line.
 %td= list_line.date_dead_line_delivery
 %td= list_line.delivery_mode
 %td= list_line.document_number
 %td= list_line.sales_amount
 -# %td= list_line.
 -# %td= list_line.
 -# %td= list_line.
