%tr{:class => ["order_item_#{}"]}
 %td= ((!current_user.current_account.sales_origin.blank?) and (list_line.sales_origin.to_s.force_encoding('UTF-8') == current_user.current_account.sales_origin.to_s.force_encoding('UTF-8'))) ? t(:urm) : ''
 %td.text-left= link_to list_line.sales_id, order_path(list_line.sales_id)
 %td.text-left= list_line.official_number
 %td.text-right= @usd_decor.decore(list_line.amount)
 %td.text-left= list_line.sales_date
 %td= link_to image_tag(asset_path('plane3.gif')), track_order_path(list_line.sales_id, :format => :json) if list_line.tracking
 %td.text-left= list_line.sales_status
 %td{:style => "max-width: 400px;white-space: normal; word-wrap: break-word; text-align: left;"}= list_line.comment
 %td.text-right= list_line.contactperson_name
 %td.text-right= list_line.date_dead_line_delivery
 %td.text-right= list_line.delivery_mode
 %td.text-right= list_line.document_number
 %td.text-right= @usd_decor.decore(list_line.sales_amount)
