#order{:display => "none"}
 = form_for :order, :url => orders_path do |f|
  - unless @deliveries.blank?
   %select{:name => "delivery_type"}
    - @deliveries.each do |del|
     %option{:value=>del[0]}= del[1]
  %input.date-picker{:type => "text", :name => 'date_picker'}
  - unless @nreqs.blank?
   %h3 нон
   %table
    %tr
     %th запрос
     %th= t :comment
     %th= t :action
    - @nreqs.each do |item|
     %tr
      = f.fields_for :item do |ff|
       %td= item.type_name
       %td= item.product_name
       %td= item.product_brend
       %td= item.product_rohs
       %td= item.current_price
       %td= item.amount
       %td= item.location_link
       %td= item.prognosis
       %td= item.comment
       %td= item.user_price

       %td= ff.text_area :comment
  - unless @reqs.blank?
   %h3 запросы
   %table
    %tr
     %th запрос
     %th= t :comment
    - @reqs.each do |item|
     = f.fields_for :item do |ff|
      %tr
       %td= item.type_name
       %td= item.product_name
       %td= item.product_brend
       %td= item.product_rohs
       %td= item.current_price
       %td= item.amount
       %td= item.location_link
       %td= item.prognosis
       %td= item.comment
       %td= item.user_price
       %td= ff.text_area :comment

  = f.submit t(:make)

