- iid = showed_line.line_id
%tr
 %td.select_data{:style => "display: none;"}
  = check_box_tag "order[#{showed_line.sales_id}][line][#{iid}][selected]", "1", false
 %td
  = showed_line.rohs
  = hidden_field_tag "order[#{showed_line.sales_id}][line][#{iid}][line_id]", showed_line.line_id # сртпв item_id to line_id ??
  = hidden_field_tag "order[#{showed_line.sales_id}][line][#{iid}][note]", showed_line.note
  = hidden_field_tag "order[#{showed_line.sales_id}][line][#{iid}][requirement]", showed_line.requirements
  = hidden_field_tag "order[#{showed_line.sales_id}][line][#{iid}][process_qty]", showed_line.process_qty
  = hidden_field_tag "order[#{showed_line.sales_id}][line][#{iid}][selected]", ""
 %td.text-left= showed_line.item_name
 %td.text-left= showed_line.brend
 %td.text-right.tiny
  .readable-amount{:disabled => true}= showed_line.sales_qty
  .editable-amount= text_field_tag "order[#{showed_line.sales_id}][line][#{iid}][qty]", showed_line.sales_qty
 %td.text-right= showed_line.price
 -# TODO %td.text-right= text_field_tag "order[#{showed_line.sales_id}][user_price]", showed_line.user_price
 %td.text-right= showed_line.amount
 %td= showed_line.qty_in_debt
 %td.reserve_data.tiny{:style => "display: none;"}= text_field_tag "order[#{showed_line.sales_id}][line][#{iid}][process_qty]", showed_line.process_qty
 %td= showed_line.reserve_qty
 %td= showed_line.qty_in_processing
 %td= showed_line.qty_receive
 %td= showed_line.invoiced_in_total
 %td= showed_line.date_dead_line
 %td= showed_line.confirmed_dlv_date
 %td.note-option.main_options_data.medium= text_field_tag "order[#{showed_line.sales_id}][line][#{iid}][note]", showed_line.note
 %td.requirement-option.main_options_data.medium= text_field_tag "order[#{showed_line.sales_id}][line][#{iid}][requirement]", showed_line.requirements
 %td
 %td
