%tr
 %td= showed_line.rohs
 %td.text-left= showed_line.item_name
 %td.text-left= showed_line.brend
 %td.text-right= showed_line.sales_qty
 %td.text-right= showed_line.price
 %td.text-right= showed_line.amount
 %td= showed_line.qty_in_debt
 %td= showed_line.reserve_qty
 %td= showed_line.qty_in_processing
 %td= showed_line.qty_receive
 %td= showed_line.invoiced_in_total
 %td= showed_line.date_dead_line
 %td= showed_line.confirmed_dlv_date
 %td= text_field_tag "order[#{showed_line.sales_id}][note]", showed_line.note
 %td= text_field_tag "order[#{showed_line.sales_id}][requirements]", showed_line.requirements
 %td
 %td
