.nav-title
 %span= link_to "Заказы", orders_path
 %span >
 %span.current Строки заказов клиента

.content-wrap
 .filter-block
  = form_for :filter, :url => client_lines_orders_path, :html => {:method => :get} do |f|
   .filter
    %table
     %tr
      %th
       Название клиента
      %td
       = User.current.current_account.name
     %tr
      %th= f.label :item_name, t(:item_name) + ':'
      %td.long= f.text_field :item_name
     %tr
      %th Дата накладной:
      %td.tiny
       с&nbsp;
       %input.calendar-input{:type => "text", :name => 'filter[date_from]', :value => @filter.try(:date_from).blank? ? 1.month.ago.strftime("%Y-%m-%d") : @filter.date_from}
       -# .calendar-input= @filter.try(:date_from).blank? ? 1.month.ago.strftime("%Y-%m-%d") : @filter.date_from
       &nbsp;по&nbsp;
       %input.calendar-input{:type => "text", :name => 'filter[date_to]', :value => @filter.try(:date_to).blank? ? Date.current.strftime("%Y-%m-%d") : @filter.date_to}
       -# #ui-datepicker-div-container{:style=>"position: relative;"}
     %tr
      %th
      %td= render :partial => "shared/submit_button", :locals => {:title => "Найти!"}
      
   .clear.block-padded


 .table-navigation-block{:class => "scroll"}
  .table-block
   .table-scrolling
    = paginate(:derid => {:page => @lines.page.to_i, :pages => @lines.total.to_i})
    -# = render :partial => "shared/pagination", :locals => {:page => @lines.page.to_i, :pages => @lines.total.to_i, :opts => {:show_numbers => false, :show_prevnext => true, :show_firstlast => true, :show_current => true, :text_before => "Записей: #{@lines.records}&nbsp;&nbsp;Страниц: #{@lines.total}&nbsp;&nbsp;".html_safe, :text_before_current => "Страница: "}}
    -# = render :partial => "shared/pagination", :locals => {:page => @lines.page.to_i, :pages => @lines.total.to_i}
    %table.table-style{:class => "order-list"}
     %tr
      %th Код номенклатуры
      %th ROHS
      %th= t(:item_name)
      %th Производитель\
      %th Корпус
      %th Количество
      %th Цена ед. изм.
      %th Валюта
      %th Сумма
      %th Заказ
      %th Накладная
      %th Дата
      -# Номенклатура ROHS  Наименование  Производитель Корпус  Количество  Цена ед. изм. Валюта  Сумма Заказ Накладная Дата
     = render :partial => "orders/client_line", :collection => @lines.items
    .padded
     = form_for :export_fields, :url => export_client_lines_orders_path(:format => :csv), :method => :post, :html=>{:class => "js"} do |f|
      = render :partial => "shared/submit_button", :locals => {:title => "Export", :name => "items[export]"}

:javascript
 if($(".calendar-input").length > 0){
 $(".calendar-input").datepicker({ dateFormat: 'yy-mm-dd', popupContainer: $('#ui-datepicker-div-container')});
 }

