.nav-title
 %span= link_to "Заказы", orders_path
 %span >
 %span.current Строки заказов

.content-wrap
 .filter-block
  = form_for :filter, :url => client_lines_orders_path, :html => {:method => :get} do |f|
   .filter
    %table
     %tr
      %th{:style => "vertical-align: middle;"} Дата накладной
      %td.tiny{:style => "vertical-align: middle;"}
       с&nbsp;
       %input#filter_date_from.calendar-input{:type => "text", :name => 'filter[date_from]', :value => @filter.try(:date_from)}
       -# .calendar-input= @filter.try(:date_from).blank? ? 1.month.ago.strftime("%Y-%m-%d") : @filter.date_from
       &nbsp;по&nbsp;
       %input#filter_date_to.calendar-input{:type => "text", :name => 'filter[date_to]', :value => @filter.try(:date_to)}
     %tr
      %th
      %td= render :partial => "shared/submit_button", :locals => {:title => "Найти"}
      
   .clear.block-padded


 .table-navigation-block{:class => "scroll"}
  .table-block
   .table-scrolling
    %table.table-style{:class => "order-list"}
     %tr
      %th Дата накладной
      %th Номер накладной
      %th Номер заказа
      %th.text-left= t(:item_name)
      %th.text-left Производитель
      %th ROHS
      %th.text-left Корпус
      %th.text-right Количество
      %th.text-right Цена
      %th.text-right Сумма с НДС
      %th Валюта
     = render :partial => "orders/client_line", :collection => @lines
    .padded
    %div{:style => "display:inline-block; float:right;"}
     - unless @lines.empty?
      = form_for :export_fields, :url => export_client_lines_orders_path(:format => :xls), :method => :post, :html=>{:class => "js", :style => "display: inline-block;"} do |f|
       %input.copiable{:type => :hidden, :value => 'input#filter_date_from'}
       %input.copiable{:type => :hidden, :value => 'input#filter_date_to'}
       = render :partial => "shared/submit_button", :locals => {:title => t(:export_xls), :name => "items[export]", :opts => {:class => "preload", :style => "float: right;"}}
      = form_for :export_fields, :url => export_client_lines_orders_path(:format => :csv), :method => :post, :html=>{:class => "js", :style => "display: inline-block;"} do |f|
       %input.copiable{:type => :hidden, :value => 'input#filter_date_from'}
       %input.copiable{:type => :hidden, :value => 'input#filter_date_to'}
       = render :partial => "shared/submit_button", :locals => {:title => t(:export_csv), :name => "items[export]", :opts => {:class => "preload", :style => "float: right;"}}
    %div{:style => "display:inline-block; float:left;"}
     = paginate(:page => @lines.page.to_i, :pages => @lines.pages.to_i, :derid => {:align => "left", :hide_empty => true})
    %div{:style => "display:inline-block; float:left;"}
     = render :partial => "shared/stat.html.haml", :locals => {:mode => :strings, :value => @lines.records.to_i}

:javascript
 if($(".calendar-input").length > 0){
 $(".calendar-input").datepicker({ dateFormat: 'yy-mm-dd', popupContainer: $('#ui-datepicker-div-container')});
 }

