.nav-title
 %span= link_to "Заказы", orders_path
 %span >
 %span.current Контроль продолжительности резервирования

.content-wrap
 .info-line
  %table
   %tr
    %th.text-left.pad-right
     Текущая сумма резерва
    %td.text-right= @usd_decor.decore @info.reserve_used
   %tr
    %th.text-left.pad-right
     Доступная сумма резерва
    %td.text-right= @usd_decor.decore @info.reserve_available
   %tr
    %th.text-left.pad-right
     Коэффициент эффективности
    %td.text-right= @rub_decor.decore @info.reserve_coefficient
   -# %tr
    %th
     Количество дней резервирования: 5
 .filter-block
  = form_for :filter, :url => control_orders_path, :html => {:method => :get} do |f|
   .filter
    %table

     %tr
      %th= f.label :item_name, t(:item_name)
      %td.long= f.text_field :item_name
     %tr
      %th= f.label :reservation_end, t(:reservation_end) # !!! todo fix field name
      %td.tiny= f.text_field :reservation_end
     %tr
      %th
      %td= render :partial => "shared/check_button", :locals => {:name => "filter[only_my]", :title => t(:only_my_orders), :opts => {:use_system => true, :value => params[:filter].try(:[], :only_my).try(:==, '1')}}
     -#
      %th= f.label :only_my, t(:only_my_orders)
      %td.tiny= f.text_field :only_my
      -# #ui-datepicker-div-container{:style=>"position: relative;"}
     %tr
      %th
      %td= render :partial => "shared/submit_button", :locals => {:title => t(:find)}
      
   .clear.block-padded


 .table-navigation-block{:class => "scroll"}
  .table-block
   .table-scrolling
    -# = render :partial => "shared/pagination", :locals => {:page => @lines.page.to_i, :pages => @lines.total.to_i, :opts => {:show_numbers => false, :show_prevnext => true, :show_firstlast => true, :show_current => true, :text_before => "Записей: #{@lines.records}&nbsp;&nbsp;Страниц: #{@lines.total}&nbsp;&nbsp;".html_safe, :text_before_current => "Страница: "}}
    -# = render :partial => "shared/pagination", :locals => {:page => @lines.page.to_i, :pages => @lines.total.to_i}
    %table.table-style{:class => "order-list"}
     %tr
      %th Код номенклатуры
      %th= t(:item_name)
      %th Производитель
      %th Количество
      %th Сумма
      %th Зарезервировано
      %th Разрезервировать
      %th Заказ
      %th Web
      %th Контактное лицо
      %th Менеджер

     = render :partial => "orders/control_line", :collection => @lines.items
    .padded
     = paginate(:page => @lines.page.to_i, :pages => @lines.total.to_i, :derid => {:align => "left", :hide_empty => true})
     = form_for :export_fields, :url => export_control_orders_path(:format => :csv), :method => :post, :html=>{:class => "js"} do |f|
      = render :partial => "shared/submit_button", :locals => {:title => "Export", :name => "items[export]"}



