$("table.search-products").parents("form").show();
$("table.search-products tr:has(td)").add("table.search-products tr.heading").remove();
$("input#search_query_string").val('');
$("#cart_store table tr:has(td)").remove();
$("#cancel_order").hide();
- @carts.each do |crt|
 $("#cart_store table").append("#{ escape_javascript(render :partial => "carts/cart_line", :locals => {:cart_line => crt}) }");
- unless @carts.empty?
 $(".cart-table").add(".allow-order").show();
if($("#cart_store table tr").length > 1){
$("#cart_store").show();
$("div.allow-order").show();
} else {
$("#cart_store").hide();
$("div.allow-order").hide();
}
$("div#order").hide();

$('.commit a.button-style').click(function(){
$(this).parents('form').submit();
return false;
});
$('.select').selectList();
$('.button-style').button();
$('.switch').switchControl();


-#
 $("div.cart input#cart_item_submit").show();
 $("div#cart_store input").add("div#cart_store textarea").each(function(i, item){ item.disabled = ''; });
 $("table.search-products").parents("form").show();
 return false;



-# @changed.each do |i|
 $("table.search-products tr input.item-cart[value=\"#{i[0]}\"]").val("#{i[1]}");
 -# $("div#cart_store table tr##{i[0]} input.item-cart[value=\"#{i[0]}\"]").val("#{i[1]}");
- unless @results.empty?
 $("div.results").html("#{escape_javascript([t(:created_orders), @results.join(', ')].join(' ').html_safe)}");
-#
 $("#order").hide();
 $("a#allow_order").click(function(){
 $("#order").show();
 $("div#cart_store input").each(function(i, item){ item.disabled = 'disabled'; });
 return false;
 });

