.nav-title
 %span= link_to "Заказы", orders_path
-#
 %span >
 %span.current Список заказов

.content-wrap
 .filter-block
  = form_for :filter, :url => orders_path, :html => {:method => :get} do |f|
   .filter
    %table
     %tr
      %th= f.label :sales_id, t(:sales_id) + ':'
      %td.medium= f.text_field :sales_id
     %tr
      %th= f.label :official_number, t(:official_number) + ':'
      %td.medium= f.text_field :official_number
     %tr
      %th
      %td= render :partial => "shared/check_button", :locals => {:name => "filter[this_sales_origin]", :title => t(:this_sales_origin), :opts => {:use_system => true, :value => WebUtils.parse_bool(@filter.this_sales_origin)}}
     %tr
      %th
      %td= render :partial => "shared/check_button", :locals => {:name => "filter[only_my]", :title => t(:only_my), :opts => {:use_system => true, :value => WebUtils.parse_bool(@filter.only_my)}}
     %tr
      %th
      %td= render :partial => "shared/submit_button", :locals => {:title => "Найти"}
   .clear.padded


 .table-navigation-block{:class => "scroll"}
  .table-block
   .table-scrolling
    %table.table-style{:class => "order-list"}
     %tr
      %th= t(:urm)
      %th.text-left Номер заказа
      %th.text-left Офиц. номер
      %th Сумма по заказу
      %th Дата создания
      %th
      %th Статус
      %th{:style => "max-width: 400px;"} Примечание
      %th.text-right Контактное лицо
      %th.text-right Дата готовности
      %th.text-right Код способа доставки
      %th.text-right Счет
      %th.text-right Сумма по счету
     = render :partial => "orders/list_line", :collection => @orders
    .padded
    %div{:style => "display:inline-block; float:right;"}
     - unless @orders.empty?
      = form_for :export_fields, :url => export_list_orders_path(:format => :xls), :method => :post, :html=>{:class => "js", :style => "display: inline-block;"} do |f|
       %input.copiable{:type => :hidden, :value => 'input#filter_sales_id'}
       %input.copiable{:type => :hidden, :value => 'input#filter_official_number'}
       %input.copiable{:type => :hidden, :value => 'input#filter_this_sales_origin:checked'}
       %input.copiable{:type => :hidden, :value => 'input#filter_only_my:checked'}
       = render :partial => "shared/submit_button", :locals => {:title => t(:export_xls), :name => "items[export]", :opts => {:class => "preload", :style => "float: right;"}}
      = form_for :export_fields, :url => export_list_orders_path(:format => :csv), :method => :post, :html=>{:class => "js", :style => "display: inline-block;"} do |f|
       %input.copiable{:type => :hidden, :value => 'input#filter_sales_id'}
       %input.copiable{:type => :hidden, :value => 'input#filter_official_number'}
       %input.copiable{:type => :hidden, :value => 'input#filter_this_sales_origin:checked'}
       %input.copiable{:type => :hidden, :value => 'input#filter_only_my:checked'}
       = render :partial => "shared/submit_button", :locals => {:title => t(:export_csv), :name => "items[export]", :opts => {:class => "preload", :style => "float: right;"}}
    %div{:style => "display:inline-block; float:left;"}
     = paginate(:page => @orders.page.to_i, :pages => @orders.pages.to_i, :derid => {:align => "left", :hide_empty => true})
    %div{:style => "display:inline-block; float:left;"}
     - p "---ords-stat", @orders.params
     = render :partial => "shared/stat.html.haml", :locals => {:mode => :strings, :value => @orders.records.to_i}

:javascript
 $("tr td a.track").click(showTrack);
