.nav-title
 %span= link_to "Заказы", orders_path
-#
 %span >
 %span.current Список заказов

.content-wrap
 .filter-block
  = form_for :filter, :url => orders_path, :html => {:method => :get} do |f|
   .filter
    %table
     %tr
      %th= f.label :sales_id, t(:sales_id) + ':'
      %td.medium= f.text_field :sales_id
     %tr
      %th= f.label :official_number, t(:official_number) + ':'
      %td.medium= f.text_field :official_number
     %tr
      %th
      %td= render :partial => "shared/check_button", :locals => {:name => "filter[this_sales_origin]", :title => t(:this_sales_origin), :opts => {:use_system => true, :value => params[:filter].try(:[], :this_sales_origin).try(:==, '1')}}
     %tr
      %th
      %td= render :partial => "shared/check_button", :locals => {:name => "filter[only_my]", :title => t(:only_my), :opts => {:use_system => true, :value => params[:filter].try(:[], :only_my).try(:==, '1')}}
     %tr
      %th
      %td= render :partial => "shared/submit_button", :locals => {:title => "Найти"}
  .padded
   = form_for :export_fields, :url => export_list_orders_path(:format => :csv), :method => :post, :html=>{:class => "js"} do |f|
    %input.copiable{:value => 'input#filter_sales_id'}
    %input.copiable{:value => 'input#filter_official_number'}
    %input.copiable{:value => 'input#filter_this_sales_origin:checked'}
    %input.copiable{:value => 'input#filter_only_my:checked'}
    = render :partial => "shared/submit_button", :locals => {:opts => {:class => "preload"}, :title => "Export", :name => "items[export]"}
   -# .fields
    .field.urm
     = f.label :sales_id, t(:sales_id)
     = f.text_field :sales_id
    = render :partial => "shared/submit_button", :locals => {:title => "Найти"}
   -# .clear.padded
   -# .fields
    .field.urm
     = f.label :official_number, t(:official_number)
     = f.text_field :official_number
     -# = f.hidden_field :this_sales_origin
     -# = f.hidden_field :only_my
   -# .clear.padded
   -# .fields.urm
    -# Искать:
    = render :partial => "shared/check_button", :locals => {:name => "filter[this_sales_origin]", :title => t(:this_sales_origin), :opts => {:use_system => true, :value => params[:filter].try(:[], :this_sales_origin).try(:==, '1')}}
    = render :partial => "shared/check_button", :locals => {:name => "filter[only_my]", :title => t(:only_my), :opts => {:use_system => true, :value => params[:filter].try(:[], :only_my).try(:==, '1')}}
   .clear.padded


 .table-navigation-block{:class => "scroll"}
  .table-block
   .table-scrolling
    = render :partial => "shared/pagination", :locals => {:page => @orders.page.to_i, :pages => @orders.total.to_i, :opts => {:show_numbers => false, :show_prevnext => true, :show_firstlast => true, :show_current => true, :text_before => "Записей: #{@orders.records}&nbsp;&nbsp;Страниц: #{@orders.total}&nbsp;&nbsp;".html_safe, :text_before_current => "Страница: "}}
    -# = render :partial => "shared/pagination", :locals => {:page => @orders.page.to_i, :pages => @orders.total.to_i}
    %table.table-style{:class => "order-list"}
     %tr
      %th УРМ
      %th.text-left Номер заказа
      %th.text-left Офиц. номер
      %th Сумма
      %th Дата создания
      %th Статус
      %th Примечание
      %th.text-right Контактное лицо
      %th.text-right Дата готовности
      %th.text-right Код способа доставки
      %th.text-right Счет
      %th.text-right Сумма по счету
     = render :partial => "orders/list_line", :collection => @orders.items
