-# Фильтры

-# Дата отгрузки: даты c/по (см. календарик в шаблоне 008, compel_html_008/orders.html), params.date_from, params.date_to
-# Наименование: строка, params.item_name
-# Только мои позиции: вкл/выкл, params.only_my
-# Только ДМС: вкл/выкл, params.only_dms
-# Таблица:

.content-wrap
 .filter-block
  = form_for :filter, :url => lines_orders_path, :html => {:method => :get} do |f|
   %table
    %tr
     %th= f.label :item_name, t(:item_name)
     %td{:colspan => 3}= f.text_field :item_name
     %td= render :partial => "shared/submit_button", :locals => {:title => "Найти!"}
    %tr
     %th Дата отгрузки:
     %th с&nbsp;
     %td
      %input.calendar-input{:type => "text", :name => 'filter[date_from]', :value => @filter.try(:date_from).blank? ? 1.month.ago.strftime("%Y-%m-%d") : @filter.date_from}
     %th по&nbsp;
     %td 
      %input.calendar-input{:type => "text", :name => 'filter[date_to]', :value => @filter.try(:date_to).blank? ? Date.current.strftime("%Y-%m-%d") : @filter.date_to}
      
   -# .fields
    .field.urm
     = f.label :item_name, t(:item_name)
     = f.text_field :item_name
   -# .clear.padded
   -# .fields
    -# .field.urm
    Дата отгрузки:
    с&nbsp;
    %input.calendar-input{:type => "text", :name => 'filter[date_from]', :value => @filter.try(:date_from).blank? ? 1.month.ago.strftime("%Y-%m-%d") : @filter.date_from}
    по&nbsp;
    %input.calendar-input{:type => "text", :name => 'filter[date_to]', :value => @filter.try(:date_to).blank? ? Date.current.strftime("%Y-%m-%d") : @filter.date_to}
   -# .clear.padded
   -# .fields
    Искать:
    = render :partial => "shared/check_button", :locals => {:name => "filter[only_my]", :title => t(:only_my), :opts => {:use_system => true, :need_field => true, :value => @filter.try(:only_my).try(:==, '1')}}
    = render :partial => "shared/check_button", :locals => {:name => "filter[only_dms]", :title => t(:only_dms), :opts => {:use_system => true, :need_field => true, :value => @filter.try(:only_dms).try(:==, '1')}}
   -# .clear.padded
   -# = render :partial => "shared/submit_button", :locals => {:title => "Найти!"}
   .clear.block-padded

 .table-title{:class=>"favorite"}Список заказов
 .table-navigation-block{:class => "scroll"}
  .table-block
   .table-scrolling
    %table.table-style{:class => "order-list"}
     %tr
      %th ROHS
      %th= t(:item_name)
      %th Производитель
      %th Количество
      %th Цена
      %th Сумма
      %th Поставка
      %th Резерв
      %th В обработке складом
      %th Получено
      %th Продано
      %th Дата готовности
      %th Ожидаемая дата поставки
      %th Заказ
      %th Контактное лицо
      %th Проект

     = render :partial => "orders/item_line", :collection => @lines
-# "ROHS": sales_lines[].rohs
-# "Наименование": sales_lines[].item_name
-# "Производитель": sales_lines[].brend
-# "Количество": sales_lines[].sales_qty
-# "Цена": sales_lines[].price
-# "Сумма": sales_lines[].amount
-# "Поставка": sales_lines[].qty_in_debt
-# "Резерв": sales_lines[].reserve_qty
-# "В обработке складом": sales_lines[].qty_in_processing
-# "Получено": sales_lines[].qty_receive
-# "Продано": sales_lines[].invoiced_in_total
-# "Дата готовности": sales_lines[].date_dead_line
-# "Ожидаемая дата поставки": sales_lines[].confirmed_dlv_date
-# "Заказ": sales_lines[].sales_id
-# "Контактное лицо": todo
-# "Проект": todo

:javascript
 if($(".calendar-input").length > 0){
 $(".calendar-input").datepicker({ dateFormat: 'yy-mm-dd' });
 }
