-# Фильтры

-# Дата отгрузки: даты c/по (см. календарик в шаблоне 008, compel_html_008/orders.html), params.date_from, params.date_to
-# Наименование: строка, params.item_name
-# Только мои позиции: вкл/выкл, params.only_my
-# Только ДМС: вкл/выкл, params.only_dms
-# Таблица:

.content-wrap
 .filter-block
  = form_for :filter, :url => lines_orders_path, :html => {:method => :get} do |f|
   .filter
    %table
     %tr
      %th= f.label :item_name, t(:item_name)
      %td.long{:colspan => 4}= f.text_field :item_name
      %td= render :partial => "shared/submit_button", :locals => {:title => "Найти!"}
     %tr
      %th Дата отгрузки:
      %th с&nbsp;
      %td.tiny
       %input.calendar-input{:type => "text", :name => 'filter[date_from]', :value => @filter.try(:date_from).blank? ? 1.month.ago.strftime("%Y-%m-%d") : @filter.date_from}
       -# .calendar-input= @filter.try(:date_from).blank? ? 1.month.ago.strftime("%Y-%m-%d") : @filter.date_from
      %th по&nbsp;
      %td.tiny
       %input.calendar-input{:type => "text", :name => 'filter[date_to]', :value => @filter.try(:date_to).blank? ? Date.current.strftime("%Y-%m-%d") : @filter.date_to}
      %td
     %tr
      %td{:colspan => 2}
      %td
       #ui-datepicker-div-container{:style=>"position: relative;"}
      %td{:colspan => 3}
      
   .clear.block-padded

 = render :partial => "shared/pagination", :locals => {:page => @lines.page, :pages => @lines.total}
 .table-title{:class=>"favorite"}Строки заказов
 .table-navigation-block{:class => "scroll"}
  .table-block
   .table-scrolling
    %table.table-style{:class => "order-list"}
     %tr
      %th ROHS
      %th= t(:item_name)
      %th Производитель
      %th Количество
      %th Цена
      %th Сумма
      %th Поставка
      %th Резерв
      %th В обработке складом
      %th Получено
      %th Продано
      %th Дата готовности
      %th Ожидаемая дата поставки
      %th Заказ
      %th Контактное лицо
      %th Проект

     = render :partial => "orders/item_line", :collection => @lines.items

:javascript
 if($(".calendar-input").length > 0){
 $(".calendar-input").datepicker({ dateFormat: 'yy-mm-dd', popupContainer: $('#ui-datepicker-div-container')});
 }
