- form_for :order, :url => orders_path do |f|
 - unless @nreqs.empty?
  %h3 нон
  %table
   %tr
    %th запрос
    %th= t :comment
    %th= t :action
   - @nreqs.each do |item|
    %tr
     %td= item.inspect
     %td= f.text_area :comment
     %td= f.check_box :allow
 - unless @reqs.empty?
  %h3 запросы

 = f.submit t(:make)
