-# Фильтры

-# Дата отгрузки: даты c/по (см. календарик в шаблоне 008, compel_html_008/orders.html), params.date_from, params.date_to
-# Наименование: строка, params.item_name
-# Только мои позиции: вкл/выкл, params.only_my
-# Только ДМС: вкл/выкл, params.only_dms
-# Таблица:

.nav-title
 %span= link_to "Заказы", orders_path
 %span >
 %span.current Заказ #{params[:id]}

.content-wrap
 .table-navigation-block{:class => "scroll"}
  .table-block
   .table-scrolling
    = render :partial => "orders/info", :locals => {:order => @order_info}

    .handle_sale
     .make_order
      .header выставление счета
      = form_for :order, :url => order_path, :html => {:method => "GET"} do |f1|
       .param= select_tag("order[#{params[:id]}][order_action]", "<option value=\"make\">Создать</option><option value=\"send\">Отправить</option><option value=\"make_send\">Создать и отправить</option>".html_safe)
       -# .link [#{t(:go)}]
       = render :partial => "shared/submit_button", :locals => {:title => t(:go)}
       .clear
     .close_sale
      .header= t(:close_sale) #закрыть заказ
      = form_for :order, :url => close_order_path(params[:id]) do |f2|
       .param
        = select_tag "order[#{params[:id]}][close_reason_id]", options_for_select(@close_reasons)
       -# .link [#{t(:close)}]
       = render :partial => "shared/submit_button", :locals => {:title => t(:close)}
       .clear

    .clear
    .handle_lines
     .tabbed_box
      .tabs
       .tab= link_to t(:main_options), "#", :id => "enable_main_options", :class => "ajax"
       .tab= link_to t(:reserve_lines), "#", :id => "enable_reserve_lines", :class => "ajax"
       .tab= link_to t(:pick_lines), "#", :id => "enable_pick_lines", :class => "ajax"
       .tab= link_to t(:reserve_transfer), "#", :id => "enable_reserve_transfer", :class => "ajax"
       .tab= link_to t(:remove_lines), "#", :id => "enable_remove_lines", :class => "ajax"
      .table
       = render :partial => "shared/pagination", :locals => {:page => @lines.page.to_i, :pages => @lines.total.to_i, :opts => {:show_numbers => false, :show_prevnext => true, :show_firstlast => true, :show_current => true, :text_before => "Записей: #{@lines.records}&nbsp;&nbsp;Страниц: #{@lines.total}&nbsp;&nbsp;".html_safe, :text_before_current => "Страница: "}}
       %table.table-style{:class => "order-list"}
        %tr
         %th.select_header{:style => "display: none;"}
         %th ROHS
         %th= t(:item_name)
         %th Производитель
         %th Количество
         %th Цена
         -# TODO %th= t(:user_price)
         %th Сумма
         %th Поставка
         %th.reserve_header{:style => "display: none;"} К обработке
         %th Резерв
         %th В обработке складом
         %th Получено
         %th Продано
         %th Дата готовности
         %th Ожидаемая дата поставки
         %th.main_options_header Комментарий
         %th.main_options_header Требования
         %th Контактное лицо
         %th Проект

        = render :partial => "orders/showed_line", :collection => @lines.items

      .dialogs
       .page.active
        .main_options
         = form_for :order, :url => save_order_path(params[:id]) do |f6|
          = label_tag "order_#{params[:id]}_comment", t(:order_comment)
          = text_area_tag "order[#{params[:id]}][comment]", @order_info.comment
          = render :partial => "shared/submit_button", :locals => {:title => t(:save), :opts => {:id => "save_order"}}
       .page
        .reserve_lines
         = form_for :order, :url => reserve_order_path(params[:id]) do |f3|
          -# .link [#{t(:reserve)}]
          = render :partial => "shared/submit_button", :locals => {:title => t(:reserve), :opts => {:id => "reserve_order"}}
          .clear
         = form_for :order, :url => unreserve_order_path(params[:id]) do |f3|
          -# .link [#{t(:unreserve_all)}]
          = render :partial => "shared/submit_button", :locals => {:title => t(:unreserve_all), :opts => {:id => "unreserve_all_orders"}}
       .page
        .pick_lines
         = form_for :order, :url => pick_order_path(params[:id]) do |f4|
          .param= render :partial => "main/pick_options"
          -# .link [#{t(:pick)}]
          = render :partial => "shared/submit_button", :locals => {:title => t(:pick), :opts => {:id => "pick_lines"}}
       .page
        .reserve_transfer
         = form_for :order, :url => order_path, :html => {:method => "GET"} do |f5|
          .param= select_tag "order[#{params[:id]}][transferable_order]", "<option></option>".html_safe #TODO: place valid options
          -# .link [#{t(:transfer_sales_lines)}]
          = render :partial => "shared/submit_button", :locals => {:title => t(:transfer_sales_lines)}
       .page
        .remove_lines
         = form_for :order, :url => erase_order_path(params[:id]) do |f6|
          .param= text_area_tag "order[#{params[:id]}][erase_reason]"
          -# .link [#{t(:remove)}]
          = render :partial => "shared/submit_button", :locals => {:title => t(:remove), :opts => {:id => "remove_order"}}
     .clear
     -# TODO .price_request
      .param ???
      = render :partial => "shared/submit_button", :locals => {:title => t(:request_new_price)}
      .clear
-# :javascript
 if($(".calendar-input").length > 0){
 $(".calendar-input").datepicker({ dateFormat: 'yy-mm-dd', popupContainer: $('#ui-datepicker-div-container')});
 }
:javascript
 ordersTabsProcess();
 ordersSaveProcess();
 ordersReserveProcess();
 ordersPickProcess();
 ordersRemoveProcess();
