-# Фильтры

-# Дата отгрузки: даты c/по (см. календарик в шаблоне 008, compel_html_008/orders.html), params.date_from, params.date_to
-# Наименование: строка, params.item_name
-# Только мои позиции: вкл/выкл, params.only_my
-# Только ДМС: вкл/выкл, params.only_dms
-# Таблица:

.nav-title
 %span= link_to "Заказы", orders_path
 %span >
 %span.current Заказ #{params[:id]}

.content-wrap
 -# .filter-block
  = form_for :filter, :url => lines_orders_path, :html => {:method => :get} do |f|
   .filter
    %table
     %tr
      %th= f.label :item_name, t(:item_name)
      %td.long= f.text_field :item_name
     %tr
      %th Дата отгрузки:
      %td.tiny
       с&nbsp;
       %input.calendar-input{:type => "text", :name => 'filter[date_from]', :value => @filter.try(:date_from).blank? ? 1.month.ago.strftime("%Y-%m-%d") : @filter.date_from}
       -# .calendar-input= @filter.try(:date_from).blank? ? 1.month.ago.strftime("%Y-%m-%d") : @filter.date_from
       &nbsp;по&nbsp;
       %input.calendar-input{:type => "text", :name => 'filter[date_to]', :value => @filter.try(:date_to).blank? ? Date.current.strftime("%Y-%m-%d") : @filter.date_to}
       -# #ui-datepicker-div-container{:style=>"position: relative;"}
     %tr
      %th
      %td= render :partial => "shared/submit_button", :locals => {:title => "Найти!"}
      
   .clear.block-padded


 .table-navigation-block{:class => "scroll"}
  .table-block
   .table-scrolling
    = render :partial => "shared/pagination", :locals => {:page => @lines.page.to_i, :pages => @lines.total.to_i, :opts => {:show_numbers => false, :show_prevnext => true, :show_firstlast => true, :show_current => true, :text_before => "Записей: #{@lines.records}&nbsp;&nbsp;Страниц: #{@lines.total}&nbsp;&nbsp;".html_safe, :text_before_current => "Страница: "}}
    -# = render :partial => "shared/pagination", :locals => {:page => @lines.page.to_i, :pages => @lines.total.to_i}
    %table.table-style{:class => "order-list"}
     %tr
      %th ROHS
      %th= t(:item_name)
      %th Производитель
      %th Количество
      %th Цена
      %th Сумма
      %th Поставка
      %th Резерв
      %th В обработке складом
      %th Получено
      %th Продано
      %th Дата готовности
      %th Ожидаемая дата поставки
      %th Комментарий
      %th Требования
      %th Контактное лицо
      %th Проект

     = render :partial => "orders/showed_line", :collection => @lines.items

    .order_info
     .line
      %span.title= "Расчётный счёт"
      = @order_info.bank_account
     .line
      %span.title= "Комментарий"
      = @order_info.comment
     .line
      %span.title= "Фирма"
      = @order_info.company_code
     .line
      %span.title= "Валюта"
      = @order_info.currency_code
     .line
      %span.title= "Дата готовности"
      = @order_info.date_dead_line_delivery
     .line
      %span.title= "Способ поставки"
      = @order_info.delivery_mode
     .line
      %span.title= "Счёт"
      = @order_info.document_number
     .line
      %span.title= "Накладная ТК"
      = @order_info.external_invoice_num
     .line
      %span.title= "Срок поставки"
      = @order_info.max_quotation_prognosis
     .line
      %span.title= "Способ оплаты"
      = @order_info.paym_mode
     .line
      %span.title= "Статус оплаты"
      = @order_info.payment_status
     .line
      %span.title= "Сумма"
      = @order_info.sales_amount
     .line
      %span.title= "Дата заказа"
      = @order_info.sales_date
     .line
      %span.title= "Статус в СОД"
      = @order_info.sales_ecommerce_status
     .line
      %span.title= "Номер заказа"
      = @order_info.sales_id
     .line
      %span.title= "Статус"
      = @order_info.sales_status
-# :javascript
 if($(".calendar-input").length > 0){
 $(".calendar-input").datepicker({ dateFormat: 'yy-mm-dd', popupContainer: $('#ui-datepicker-div-container')});
 }

-# 
 =begin
  bank_account:
   title: "Расчётный счёт"
  comment:
   title: Комментарий
  company_code:
   title: Фирма
  currency_code:
   title: Валюта
  date_dead_line_delivery:
   title: "Дата готовности"
   type: date
  delivery_mode:
   title: "Способ поставки"
  document_number:
   title: Счёт
  external_invoice_num:
   title: "Накладная ТК"
  max_quotation_prognosis:
   title: "Срок поставки"
  paym_mode:
   title: "Способ оплаты"
  payment_status:
   title: "Статус оплаты"
  sales_amount:
   title: Сумма
  sales_date:
   title: "Дата заказа"
   type: date
  sales_ecommerce_status:
   title: "Статус в СОД"
  sales_id:
   title: "Номер заказа"
  sales_status:
   title: Статус
 =end

