.nav-title
 %span= link_to "Заказы", orders_path
 %span >
 %span.current Заказ #{@order_info.id.to_s}

.content-wrap
 .table-navigation-block{:class => "scroll"}
  .table-block
   .table-scrolling
    - content_for :order_base_info do
     = render :partial => "orders/info", :locals => {:order => @order_info}

    - content_for :order_base_make do
     .handle_sale
      .make_order
       .header= t(:invoice_generation)
       = form_for :order, :url => invoice_order_path(params[:id]) do |f1|
        .param= select_tag("order[#{params[:id]}][order_action]", "<option value=\"make\">Создать</option><option value=\"send\">Отправить</option><option value=\"make_send\">Создать и отправить</option>".html_safe)
        -# .link [#{t(:go)}]
        = render :partial => "shared/submit_button", :locals => {:title => t(:go)}
        .clear
     - content_for :order_base_close do
      .close_sale
       .header= t(:close_sale) #закрыть заказ
       = form_for :order, :url => close_order_path(params[:id]) do |f2|
        .param
         = select_tag "order[#{params[:id]}][close_reason_id]", options_for_select(@close_reasons)
        -# .link [#{t(:close)}]
        = render :partial => "shared/submit_button", :locals => {:title => t(:close)}
        .clear

    .clear
    .handle_lines
     .tabbed_box
      .tabs
       .tab.active= link_to t(:main_options), "#", :id => "enable_main_options", :class => "ajax"
       .tab= link_to t(:reserve_lines), "#", :id => "enable_reserve_lines", :class => "ajax"
       .tab= link_to t(:pick_lines), "#", :id => "enable_pick_lines", :class => "ajax"
       .tab= link_to t(:reserve_transfer), "#", :id => "enable_reserve_transfer", :class => "ajax"
       .tab= link_to t(:remove_lines), "#", :id => "enable_remove_lines", :class => "ajax"
      .table
       %table.table-style{:class => "order-list"}
        %tr
         %th.select_header{:style => "display: none;"}
         %th ROHS
         %th= t(:item_name)
         %th Производитель
         %th Количество
         %th Цена
         -# TODO %th= t(:user_price)
         %th Сумма
         %th Поставка
         %th.reserve_header{:style => "display: none;"} К обработке
         %th Резерв
         %th В обработке складом
         %th Получено
         %th Продано
         %th Дата готовности
         %th Ожидаемая дата поставки
         %th
         %th.main_options_header Примечание
         %th.main_options_header Требование к позиции
         - if @mandatory
          %th.main_options_header Применение для производителя

        = render :partial => "orders/showed_line", :collection => @lines
       .padded
       %div{:style => "display:inline-block; float:right;"}
        - unless @lines.empty?
         = form_for :export_fields, :url => export_client_lines_orders_path(:format => :xls), :method => :post, :html=>{:class => "js", :style => "display: inline-block;"} do |f|
          = render :partial => "shared/submit_button", :locals => {:title => t(:export_xls), :name => "items[export]", :opts => {:class => "preload", :style => "float: right;"}}
         = form_for :export_fields, :url => export_client_lines_orders_path(:format => :csv), :method => :post, :html=>{:class => "js", :style => "display: inline-block;"} do |f|
          = render :partial => "shared/submit_button", :locals => {:title => t(:export_csv), :name => "items[export]", :opts => {:class => "preload", :style => "float: right;"}}
       %div{:style => "display:inline-block; float:left;"}
        = paginate(:page => @lines.page.to_i, :pages => @lines.pages.to_i, :derid => {:align => "left", :hide_empty => true})
       %div{:style => "display:inline-block; float:left;"}
        = render :partial => "shared/stat.html.haml", :locals => {:mode => :strings, :value => @lines.records.to_i}

      .dialogs
       .page.active
        .main_options
         .x4
          = yield :order_base_info
         .x4
          .header= t(:order_comment)
          = form_for :order, :url => save_order_path(params[:id]) do |f6|
           -# = label_tag "order_#{params[:id]}_comment", t(:order_comment)
           = text_area_tag "order[#{params[:id]}][comment]", @order_info.comment, :cols=>40, :rows => 4
           = render :partial => "shared/button", :locals => {:title => t(:save_order), :opts => {:id => "save_order"}}
         .x4
          = yield :order_base_make
         .x4
          = yield :order_base_close
       .page
        .reserve_lines
         = form_for :order, :url => reserve_order_path(params[:id]) do |f3|
          -# .link [#{t(:reserve)}]
          = render :partial => "shared/button", :locals => {:title => t(:reserve), :opts => {:id => "reserve_order"}}
          -# = render :partial => "shared/submit_button", :locals => {:title => t(:reserve), :opts => {:id => "reserve_order"}}
          .clear
         = form_for :order, :url => unreserve_order_path(params[:id]) do |f3|
          -# .link [#{t(:unreserve_all)}]
          = render :partial => "shared/submit_button", :locals => {:title => t(:unreserve_all), :opts => {:id => "unreserve_all_orders"}}
       .page
        .pick_lines
         = form_for :order, :url => pick_order_path(params[:id]) do |f4|
          .param= render :partial => "main/pick_options"
          -# .link [#{t(:pick)}]
          = render :partial => "shared/button", :locals => {:title => t(:pick), :opts => {:id => "pick_lines"}}
       .page
        .reserve_transfer
         = form_for :order, :url => order_path, :html => {:method => "GET"} do |f5|
          .param= select_tag "order[#{params[:id]}][transferable_order]", "<option></option>".html_safe #TODO: place valid options
          -# .link [#{t(:transfer_sales_lines)}]
          = render :partial => "shared/submit_button", :locals => {:title => t(:transfer_sales_lines)}
       .page
        .remove_lines
         = form_for :order, :url => erase_order_path(params[:id]) do |f6|
          .param= select_tag "order[#{params[:id]}][close_reason_id]", options_for_select(@close_reasons)
          -# .link [#{t(:remove)}]
          = render :partial => "shared/button", :locals => {:title => t(:remove), :opts => {:id => "remove_order"}}
     .clear
     -# TODO .price_request
      .param ???
      = render :partial => "shared/submit_button", :locals => {:title => t(:request_new_price)}
      .clear
-# :javascript
 if($(".calendar-input").length > 0){
 $(".calendar-input").datepicker({ dateFormat: 'yy-mm-dd', popupContainer: $('#ui-datepicker-div-container')});
 }
:javascript
 ordersTabsProcess();
 ordersSaveProcess();
 ordersReserveProcess();
 ordersPickProcess();
 ordersRemoveProcess();
 $("tr td a.track").click(showTrack);
