#cart_store
 = form_for :cart_item, :html => {:class => 'js', :method => :put}, :url => save_carts_path, :remote => true do |ff|

  %table.table-style
   %tr
    %th
    %th= t :type
    %th= t :name
    %th= t :brend
    %th= t :rohs
    %th= t :price
    %th= t :amount
    %th= t :location
    %th= t :prognosis
    %th= t :comment
    %th= t :user_price
    %th{:colspan => 3}= t :action
    -# %th
   = render :partial => "carts/cart_line", :collection => cart

  .padded
  -# = ff.submit t(:save)
  = render :partial => "shared/submit_button", :locals => {:title => t(:save), :opts => {:id => "save_cart_button"}}
 .clear.block-padded
