%tr
 %td= cart_line.type_name
 %td= cart_line.product_name
 %td= cart_line.product_brend
 %td= cart_line.product_rohs
 %td= cart_line.current_price
 %td= cart_line.amount
 %td= cart_line.location_link
 %td= cart_line.prognosis
 %td= cart_line.comment
 %td= cart_line.user_price
 %td

-#
  %th= t :type
  %th= t :name
  %th= t :brend
  %th= t :rohs
  %th= t :price
  %th= t :amount
  %th= t :location
  %th= t :prognosis
  %th= t :comment
  %th= t :user_price
  %th= t :action


