%tr{:id => "cart_str_#{cart_line.id.to_s}"}
 - form_for :cart_item, cart_line, :html => {:method => :put}, :url => cart_path(cart_line), :remote => true do |ff|
  %td= cart_line.type_name
  %td= cart_line.product_name
  %td= cart_line.product_brend
  %td= cart_line.product_rohs
  %td= cart_line.current_price
  %td= cart_line.amount
  %td= cart_line.location_link
  %td= cart_line.prognosis
  %td= ff.text_area :comment #cart_line.comment
  %td= ff.text_field :user_price, :size => "20x3" #cart_line.user_price
  %td
   - if cart_line.is_a?(CartWorld)
    %span= t :pick
   - cart_line.allowed_actions.each do |act|
    %span
     %label{:for => "cart_#{cart_line.id}_#{act.to_s}"}= t act
     %input{:id => "cart_item_#{cart_line.id}_#{act.to_s}", :name => "cart_item[#{cart_line.id}][#{act.to_s}]", :type => "checkbox", :value => cart_line.send((act.to_s + '?').to_sym)}
   %span
    = ff.submit t(:save)
 %td
  %span
   - form_for :rm_cart, cart_line, :url => cart_path(cart_line), :remote => true, :html => {:method => :delete, :class => "js"} do |frm|
    = frm.submit t(:destroy)

-#
 %th= t :type
 %th= t :name
 %th= t :brend
 %th= t :rohs
 %th= t :price
 %th= t :amount
 %th= t :location
 %th= t :prognosis
 %th= t :comment
 %th= t :user_price
 %th= t :action


