%tr
 %td= cart_line.type_name
 %td= cart_line.product_name
 %td= cart_line.product_brend
 %td= cart_line.type_name
 %td= cart_line.type_name
 %td= cart_line.type_name
 %td= cart_line.type_name
 %td= cart_line.type_name
 %td= cart_line.type_name
 %td= cart_line.type_name

-#
  %th= t :type
  %th= t :name
  %th= t :brend
  %th= t :rohs
  %th= t :price
  %th= t :amount
  %th= t :location
  %th= t :prognosis
  %th= t :comment
  %th= t :user_price
  %th= t :action


