#cart_store
 - form_for :cart_item, :html => {:method => :put}, :url => save_carts_path, :remote => true, :class => 'js' do |ff|

  %table.table-style
   %tr
    %th.text-left= t :type
    %th.text-left= t :name
    %th.text-left= t :brend
    %th.text-left= t :rohs
    %th= t :price
    %th= t :amount
    %th.text-left= t :location
    %th.text-left= t :prognosis
    %th= t :comment
    %th= t :user_price
    %th{:colspan => 2}= t :action
    %th
   = render :partial => "carts/cart_line", :collection => cart
  -# = ff.submit t(:save)
  = render :partial => "shared/submit_button", :locals => {:title => t(:save), :opts => {:id => "save_cart_button"}}
 .clear
