%tr{:id => "cart_str_#{cart_line.id.to_s}"}
 %td.icons
  .icon
   %a.delete.delete-from-cart
 %td.text-left= cart_line.type_name
 %td.text-left= cart_line.product_name
 %td.text-left= cart_line.product_brend
 %td.text-left= cart_line.product_rohs
 %td.text-right= cart_line.current_price
 %td.text-right= cart_line.amount
 %td.text-left= cart_line.location_link
 %td.text-left= cart_line.prognosis
 %td
  %textarea{:style => "height: 14px; padding: 2px 4px; border: 1px solid #9E9E9E", :cols => 20, :rows => 1, :id => "cart_item_#{cart_line.id}_comment", :name => "cart_item[#{cart_line.id}][comment]"}= cart_line.comment
 %td.price-user
  %input{:type => :text, :size => "9", :value => cart_line.user_price, :id => "cart_item_#{cart_line.id}_user_price", :name => "cart_item[#{cart_line.id}][user_price]"}
 - if cart_line.is_a?(CartWorld)
  %td &nbsp;
  %td
   %span.switch.disabled
    %span
     %span= t :pick
 - else
  - [:order, :reserve, :pick].each do |act|
   %td
    %span
     - if cart_line.allowed_actions.include?(act.to_s)
      %input{:name => "cart_item[#{cart_line.id}][action]", :value => act.to_s, :type => "radio", :id => "radio_cart_item_#{cart_line.id}_#{act.to_s}"}
      %label{:for => "radio_cart_item_#{cart_line.id}_#{act.to_s}"}= t(act)
      -# = render :partial => "shared/check_button", :locals => {:name => "cart_item[#{cart_line.id}][#{act.to_s}]", :title => t(act), :opts => {:need_field => true, :value => cart_line.send(act)}}
 -# %td
  = render :partial => "shared/check_button", :locals => {:name => "cart_item[#{cart_line.id}][destroy]", :title => t(:delete), :opts => {:need_field => true, :value => false}}
