%tr{:id => "cart_str_#{cart_line.id.to_s}"}
 %td= cart_line.type_name
 %td= cart_line.product_name
 %td= cart_line.product_brend
 %td= cart_line.product_rohs
 %td= cart_line.current_price
 %td= cart_line.amount
 %td= cart_line.location_link
 %td= cart_line.prognosis
 %td
  %textarea{:cols => 20, :rows => 3, :id => "cart_item_#{cart_line.id}_comment", :name => "cart_item[#{cart_line.id}][comment]"}= cart_line.comment
 %td
  %input{:type => :text, :value => cart_line.user_price, :id => "cart_item_#{cart_line.id}_user_price", :name => "cart_item[#{cart_line.id}][user_price]"}
 %td
  - if cart_line.is_a?(CartWorld)
   %span= t :pick
  - cart_line.allowed_actions.each do |act|
   %span
    %label{:for => "cart_item_#{cart_line.id}_#{act.to_s}"}= t act
    = check_box_tag "cart_item[#{cart_line.id}][#{act.to_s}]", '1', cart_line.send((act.to_s + '?').to_sym), :id => "cart_item_#{cart_line.id}_#{act.to_s}"
  %span
   %label{:for => "cart_item_#{cart_line.id}_destroy"}= t :delete
   = check_box_tag "cart_item[#{cart_line.id}][destroy]", '1', :id => "cart_item_#{cart_line.id}_destroy"

-#
 %th= t :type
 %th= t :name
 %th= t :brend
 %th= t :rohs
 %th= t :price
 %th= t :amount
 %th= t :location
 %th= t :prognosis
 %th= t :comment
 %th= t :user_price
 %th= t :action


