if(#{User.current.cart_items.unprocessed.in_cart.count} == 0){
 $('.cart-table').add('.allow-order').hide();
}
if($(".calendar-input").length > 0){
 $(".calendar-input").datepicker({ dateFormat: 'yy-mm-dd' });
}
$("#order").hide();
activateSearchAllowOrderButton();
$("#cancel_order").hide();
activateSearchCancelButton();

$("#cart_store table tr:has(td)").remove();
-# @carts.each do |crt|
 $("#cart_store table").append("#{ escape_javascript(render :partial => "carts/cart_line", :locals => {:cart_line => crt}) }");
- unless @carts.empty?
 $("#cart_store table").append("#{ escape_javascript(render :partial => "carts/cart_line", :collection => @carts) }");
 $(".cart-table").add(".allow-order").show();
if($("#cart_store table tr").length > 1){
$("#cart_store").show();
activateSearchCancelButton();
} else {
$("#cart_store").hide();
}
$("div#order").hide();
$("div#order").children().remove();
$("div#order").append("#{ escape_javascript(render :partial => "main/order_edit") }");
- @changed.each do |i|
 $("table.search-products tr input.item-cart[value=\"#{i[0]}\"]").val("#{i[1]}");
 -# $("div#cart_store table tr##{i[0]} input.item-cart[value=\"#{i[0]}\"]").val("#{i[1]}");
$('.select').selectList();
$('.button-style').button();
$('.switch').switchControl();
