-# $("#cart_store").replaceWith("#{escape_javascript(render :partial => "carts/cart_table", :locals => {:cart => @carts})}");
$("table.search-products tr:has(td input.item-cart[value=\"#{@old}\"])").find("td.input-in-cart").removeClass("exist speed");
$("table.search-products tr:has(td input.item-cart[value=\"#{@old}\"])").find("td.input-in-cart input").val("0");
$("table.search-products tr td input.item-cart[value=\"#{@old}\"]").val("#{@new}");

$("#cart_store table tr:has(td)").remove();
- unless @carts.empty?
 $("#cart_store table").append("#{ escape_javascript(render :partial => "carts/cart_line", :collection => @carts) }");
 $(".cart-table").add(".allow-order").show();
if($("#cart_store table tr").length > 1){
$("#cart_store").show();
activateSearchCancelButton();
} else {
$("#cart_store").hide();
}
$("div#order").hide();
$("div#order").children().remove();
$("div#order").append("#{ escape_javascript(render :partial => "main/order_edit") }");


- if @carts.empty?
 $(".cart-table").add(".allow-order").hide();
- else
 $(".cart-table").add(".allow-order").show();
if($("#cart_store table tr").length > 1){
$("#cart_store").show();
} else {
$("#cart_store").hide();
}
$("div#order").hide();

