$("#cart_store table tr:has(td)").remove();
- @carts.each do |crt|
 $("#cart_store table").append("#{ escape_javascript(render :partial => "carts/cart_line", :locals => {:cart_line => crt}) }");
- unless @carts.empty?
 $(".cart-table").add(".allow-order").show();
if($("#cart_store table tr").length > 1){
$("#cart_store").show();
} else {
$("#cart_store").hide();
}
$("div#order").hide();
- @changed.each do |i|
 $("table.search-products tr:has(td input.item-cart[value=\"#{i[0]}\"])").find("td.input-in-cart input").val(#{i[1]});
-# @changed.each do |i|
 $("table.search-products tr input.item-cart[value=\"#{i[0]}\"]").val("#{i[1]}");


