$("#cart_store table tr:has(td)").remove();
- @carts.each do |crt|
 $("#cart_store table").append("#{ escape_javascript(render :partial => "carts/cart_line", :locals => {:cart_line => crt}) }");
$('.switch').switchControl();
if($("#cart_store table tr").length > 1){
$("#cart_store").show();
$(".cart-table").add(".allow-order").show();
} else {
$("#cart_store").hide();
}
$("div#order").hide();
$("div#order").replaceHtml("#{escape_javascript(render :partial => "main/order_edit")}");
$(".calendar-input").datepicker({ dateFormat: 'yy-mm-dd' });
-# - @changed.each do |i|
 $("table.search-products tr:has(td input.item-cart[value=\"#{i[0]}\"])").find("td.input-in-cart input").val(#{i[1]});
-# @changed.each do |i|
 $("table.search-products tr input.item-cart[value=\"#{i[0]}\"]").val("#{i[1]}");
$('.commit a.button-style').click(function(){
$(this).parents('form').submit();
return false;
});
$('.select').selectList();
$('.switch').switchControl();
$('.js').bind('ajax:success', function(evt, xhr, status){
eval(xhr.responseText);
});

