!!!
%html
 %head
  %title Urm
  = stylesheet_link_tag :all
  = javascript_include_tag "jquery", "jquery.ui.core", "jquery_ujs", "jquery.header", "jquery.controls", "jquery.table", "jquery.lightbox", "date", "jquery.ui.datepicker", "urm", "jquery.validationEngine-ru", "jquery.validationEngine", "jquery.ui-i18n", "jquery.ui.datepicker-ru", :defaults
  -# "jquery-ui.min",
  = csrf_meta_tag
  :javascript
   var settings = {
    animation: true, //Включить/выключить анимацию элементов интерфейса
    header: { //Шапка
     hide: true, //Показать/скрыть
     //static: false, //Статическая/фиксированная (прижата к верхней границе браузера)
     speedAnimation: 500 //Скорость анимации
    },
    cartBox: { //Блок с корзиной в шапке
     hide: true, //Показать/скрыть
     speedAnimation: 500  //Скорость анимации
    },
    searchBox: { //Блок поиска
     hide: false //Показать/скрыть
    },
    controls: { //Элементы управления
     inputInCart: { //Поле ввода "Добавить в корзину" для таблицы вывода списка продукции
      speedIconShow: true, //Наличие иконки быстрого оформления заказа
      speedIconTimeShow: 2000, //Время показа иконки быстрого оформления заказа
      speedIconAnimate: 400 //Скорость появления иконки быстрого оформления заказа
     },
     dropDown: { //Раскрывающийся блок
      speed: 500 //Скорость анимации
     }
    }
   }

   $(function(){
    $('a.button-style').click(function(){
     $(this).parents('form').submit();
     return false;
    });

    //Шапка (файл: jquery.header.js)
    $('#header').header();
    //Корзина в шапке (файл: jquery.header.js)
    $('.cart-block-slider').cartBox();
    //Поиск в шапке (файл: jquery.header.js)
    $('.search-block').searchBox();
    //Таблица результатов поиска
    $('.table-navigation-block').table();
    //Скроллинг таблиц
    tableScroller.refresh();
    //Выпадающие списки (файл: jquery.controls.js)
    $('.select').selectList();
    //Кнопки
    $('.button-style').button();
    //Фильтры
    $('.switch').switchControl();
    // Хинты
    //$('.hint').hint();
    // Всплывающие окна
    //$('.cart-block .cart-popup').lightbox({
      //title:'В корзине',
      //titleClass:'cart'
    //});
   });
 %body
  .all
   #header-height{:style=>"display:none;"}
   #header.header-static
    .header-hid
     .header-wrap
      = render :partial => "main/header"
   #content
    .content-wrap
     = yield
   .clear!&nbsp;
   #footer-height
   #footer
    %div
     .footer-wrap
      = render :partial => "main/footer"
