!!!
%html{:lang => I18n.locale.to_s}
 %head
  %meta{:"http-equiv"=>"content-type", :content=>"text/html;charset=utf-8"}
  %title Urm
  = include_gon
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = csrf_meta_tag
  :javascript
   var settings = {
    animation: true, //Включить/выключить анимацию элементов интерфейса
    header: { //Шапка
     hide: #{WebUtils.parse_bool(current_user.settings.where(:name => "hideheader").first.try(:value)).to_s }, //Показать/скрыть
     //static: false, //Статическая/фиксированная (прижата к верхней границе браузера)
     speedAnimation: 500 //Скорость анимации
    },
    cartBox: { //Блок с корзиной в шапке
     hide: true, //Показать/скрыть
     speedAnimation: 500  //Скорость анимации
    },
    searchBox: { //Блок поиска
     hide: #{not WebUtils.parse_bool(current_user.settings.where(:name => "search.show_box").first.try(:value)).to_s }, //Показать/скрыть
     //hide: false //Показать/скрыть
    },
    feedbackBox: { //Блок поиска
     hide: true //Показать/скрыть
    },
    controls: { //Элементы управления
     inputInCart: { //Поле ввода "Добавить в корзину" для таблицы вывода списка продукции
      speedIconShow: true, //Наличие иконки быстрого оформления заказа
      speedIconTimeShow: 2000, //Время показа иконки быстрого оформления заказа
      speedIconAnimate: 400 //Скорость появления иконки быстрого оформления заказа
     },
     dropDown: { //Раскрывающийся блок
      speed: 500 //Скорость анимации
     },
     select: {
      current_account_account: onSelectSendForm
     }
    }
   }

   $(document).on("ready", function(){
    activateCommit();
    //$('.commit a.button-style').click(function(){
    // $(this).parents('form').submit();
    // return false;
    //});

    //Шапка (файл: jquery.header.js)
    $('#header').header();
    //Корзина в шапке (файл: jquery.header.js)
    $('.cart-block-slider').cartBox();
    //Поиск в шапке (файл: jquery.header.js)
    $('.search-block').searchBox();
    $('.feedback-block').feedbackBox();
    //Таблица результатов поиска
    $('.table-navigation-block').table();
    //Скроллинг таблиц
    $('.switch.radio a.rub').click(function(){
    $('.alt.price').addClass('active').removeClass('hidden');
    $('.real.price').addClass('hidden').removeClass('active');
    $('.switch.radio a.usd').removeClass('active');
    $('.switch.radio a.rub').addClass('active');
    });
    $('.switch.radio a.usd').click(function(){
    $('.alt.price').addClass('hidden').removeClass('active');
    $('.real.price').addClass('active').removeClass('hidden');
    $('.switch.radio a.rub').removeClass('active');
    $('.switch.radio a.usd').addClass('active');
    });
    tableScroller.refresh();
    //Выпадающие списки (файл: jquery.controls.js)
    /*$('.switch.radio a.rub').click(function(){
    $('.alt.price').addClass('active').removeClass('hidden');
    $('.real.price').addClass('hidden').removeClass('active');
    });
    $('.switch.radio a.usd').click(function(){
    $('.alt.price').addClass('hidden').removeClass('active');
    $('.real.price').addClass('active').removeClass('hidden');
    });*/
    $("#search_query_string").autocomplete({appendTo: ".field:has(#search_query_string)", minLength: 3, source: queryAutoComplete});
    $('.select').selectList();
    //Кнопки
    $('.button-style').button();
    //Фильтры
    $('.switch').switchControl();
    $('.form-hide .item').dropDown();
    $('.help-link a').lightbox({
     title:'Подсказка',
     float:true
    });
    if($(".calendar-input").length > 0){
     $(".calendar-input").datepicker({ dateFormat: 'yy-mm-dd' });
    }
    //handleCartDelete();
    // Хинты
    //$('.hint').hint();
    // Всплывающие окна
    //$('.cart-block .cart-popup').lightbox({
      //title:'В корзине',
      //titleClass:'cart'
    //});
   });
 %body
  .all
   #header-height{:style=>"display:none;"}
   #header.header-static
    .header-hid
     .header-wrap
      = render :partial => "main/header"
   #content
    .content-wrap
     = yield
   .clear!&nbsp;
   #footer-height
   #footer
    %div
     .footer-wrap
      = render :partial => "main/footer"
